[2019-07-29 18:01] johnnykeats opened #2 "RHEL 8 support"
Yo Ox,

As discussed, I will have a look on how to integrate RHEL 8 into BB.
Can you give me the rights, and create the branch for my devs ?
Thanks

JK

[2019-07-29 19:07] oxedions commented on #2
Hello JK !

Yes, let me do that :-)
Thanks for taking care of this part, too much to handle.

Cheers
Ox

[2019-07-30 18:55] johnnykeats commented on #2
No probs.

Thanks for the branch.

JK

[2019-07-31 18:59] johnnykeats commented on #2
So as a report, I got these issues:
https://github.com/ansible/ansible/issues/48055
https://github.com/ansible/ansible/pull/48870

I also add to update atftp code, and patch clustershell spec.

I cleaned your ipxe spec file.

But dude, you changed too much files positions, merge is going to be a mess... -_-'

[2019-07-31 19:03] oxedions commented on #2
Yes, sorry about that :-p

I needed to clean things. Can you push your current work, so I can check it ? Seems you did a lot.

[2019-07-31 19:07] johnnykeats commented on #2
Done, have a look :-)

[2019-07-31 19:38] oxedions commented on #2
Just perfect, many thanks.

Didn't thought so much changes in RHEL 8.

[2019-08-03 16:59] oxedions commented on #2
I think you are done. Lets merge, and clean all the current work so we can release v1.

[2019-08-03 19:07] johnnykeats commented on #2
OK. Remember the NIC role cannot work with current Ansible, due to bug:
https://github.com/ansible/ansible/issues/48055

I will work on documentation :)

[2019-08-04 12:25] oxedions commented on #2
I am cleaning the whole commits to remove all the sources (ipxe, etc) so repo is light.

[2019-08-04 13:40] oxedions commented on #2
Merged. Thanks !

[2019-08-04 13:40] #2 closed

[2019-09-02 08:17] johnnykeats opened #5 "EFI not managed"
Yo Ox,

I found EFI is baldy managed: sanboot in menu.ipxe do not work in EFI, and iPXE usb and iso images do not contains EFI part.

OK if I take care of that ? The CINES SMP node is in EFI and this is broken this way.

[2019-09-02 11:59] johnnykeats commented on #5
I will create a dedicated branch.

[2019-09-02 12:31] johnnykeats commented on #5
Added EFI, tested on the SMP node, all ok.
In the futur, we may need to add RedHat/Ubuntu/OpenSuse grub.cfg file into the discovery script.

[2019-09-02 19:01] oxedions commented on #5
Hello JK,

Ok, I see how you made it. That's smart, I like it.
So now I am able to boot even VirtualBox in EFI using your ISO 👍

[2019-09-02 19:01] #5 closed

[2019-09-06 07:44] johnnykeats opened #7 "How to organize tasks when mixed ditros"
Yo Ox,

I was wondering, how should we organize tasks when dealing with multiple distros ?

You know, with centos_7.yml, ubuntu_18.yml etc files, because for some tasks packages only is not enough :-( you have to deal with paths or services also...

[2019-09-11 17:36] oxedions commented on #7
Hello Johnny,

Sorry for the (big) delay.

I think we can create some main file with all tasks using vars from roles, and then only create specific tasks files when we have actions for only one OS.

I will also work on replacing old with_items by loops. If you can also use these now :-)

Cluster should be up soon, are you ready on Ubuntu side ?

Ox

[2019-09-11 21:19] johnnykeats commented on #7
Always late man, as usual :-p

Ok, thanks. I will do it this way, as we discuss yesterday. I am almost done on Ubuntu, just some strange very long hang during OS install, don't know what is going on, no messages from installer. But after 10min install goes on.

Do you know when Tumulus cluster will be up?

[2019-09-12 20:28] oxedions opened #9 "Prometheus role need equipment_profiles affinity"
Prometheus ADDON role need ability to define alerts on equipment_profiles granularity.

Need to move alerts from file to template, and use Jinja inside with jobs. Need to find how to define an alert for multiple jobs.

Would be also interesting do define a graphana role to bind to Prometheus and Alert Manager.

[2019-09-12 23:29] bouriquet15 opened #10 "Contribution guidelines"
Hi,

It could be great to have some contribution guidelines (contrib.md, role_skeleton for ansible-galaxy)

Skeleton example (you just need to provide a role directory template somewhere in this repo) : https://github.com/cjsteel/galaxy-role-skeleton
Usage : ansible-galaxy init --role-skeleton=<skeleton_dir> <role_name>

[2019-09-13 13:46] johnnykeats commented on #10
Hi!

Thanks for the feedback.
I tried to create a contribution file. Hope this is what you are expecting. I will try to "make it live" as we encounter new situations.

Regarding Skeleton for Ansible Galaxy, this is is something I am not familiar with, I will let Oxedions work on this :blush:

[2019-09-13 15:21] oxedions commented on #10
Hello,

Thank you JK for the contrib file ;-)

So for what I understand, we should provide a skeleton of our roles for an usage in the Ansible Galaxy. Could be a good opportunity to comply with what is already done in the Ansible world.

The tree generated with the ansible-galaxy command contains much more folders than what we have today, and generated a readme in MD, while we rely on RST for the

[2019-09-16 07:35] johnnykeats commented on #7
Yo Ox,

I could reach management. Wasn't expecting aarch64 system, I will rebuild packages for this platform. So mixed aarch64/x86_64 cluster, with Ubuntu and Centos systems. Lot of fun in perspective :heart_eyes:

I agree with roles, let's split them. Its boring to handle these big CORE/ADDON stuff. Can you do it?

[2019-09-16 07:54] oxedions commented on #7
Hello Johnny,

OK, I will do that. I will also update ansible.cfg file to handle these new PATH, and same for the documentation.

Ox

[2019-09-16 15:06] oxedions commented on #7
Hello Johnny,

Done !

Ox

[2019-09-16 15:06] #7 closed

[2019-09-21 19:57] oxedions opened #12 "Create online repository and online documentation"
Need to build all packages for 1.0, i.e. Centos 7 packages for now.

Also need to add online documentation, and remove build directory from git base.

[2019-09-21 19:59] oxedions opened #13 "Create sample inventory from Algoric cluster"
Create default sample inventory from Tumulus Algoric cluster, replacing MAC and private elements by random ones.

[2019-09-21 20:09] oxedions opened #14 "Merge core time roles to one"
Chrony roles are nearly the same between server and client. Merging them like for slurm would simplify the list.

[2019-09-21 20:10] oxedions opened #15 "Finish 1.0 documentation"
Need to finish 1.0 documentation.

Check syntax, check commands, and check URLs.

[2019-09-21 20:12] oxedions opened #16 "Ensure multi arch and multi distribs works fine"
Tumulus cluster is multi arch (arm64 and x86_64) and also multi distribs.

Check the stacks handle this properly.

[2019-09-21 20:13] oxedions opened #17 "Nyancat"
Where is the nyancat ? Where is the display message ?

[2019-09-22 15:26] oxedions commented on #9
Updated in commit https://github.com/oxedions/bluebanquise/commit/71d7babb8e78a8875c67984adbaa5de727528e0c

Need to add all the probes now.

[2019-09-24 12:03] johnnykeats commented on #16
Found issue on ipxe/dhcp, roms are not arch related, and same for ipxe script.

We need to rely on that:
https://ipxe.org/cfg/platform
https://ipxe.org/cfg/buildarch

[2019-09-24 12:05] johnnykeats commented on #14
Done in commit https://github.com/oxedions/bluebanquise/commit/14cb9fef2bfca52ed7cbdab6dca701a56793a30e

[2019-09-24 12:05] #14 closed

[2019-09-24 12:06] johnnykeats commented on #12
Can you redeploy Raphael system ? Then provide me credentials, so I setup this :-)

[2019-09-24 20:50] oxedions commented on #16
Hello Johnny,

So we could create x86_64/ and arm64/ folders for tftp. Would it be interesting to split also EFI and legacy into folders ?

Ox

[2019-09-24 20:52] oxedions commented on #12
Hello Johnny,

Server has been reinstalled, I will send you credentials.

We will have documentation and repo inside. Let's structure it exactly the same way than repositories in the stack itself.

Ox

[2019-09-27 06:53] oxedions commented on #16
Latest commit works for me.

Just need to add grub shell in menu.ipxe.

Ox

[2019-10-03 19:48] oxedions commented on #17
Added in 1.0.0 RC1. Close.

[2019-10-03 19:48] #17 closed

[2019-10-03 19:49] oxedions commented on #16
Tested and ok. RPM also ok.
So far no issues.

Close.

[2019-10-03 19:49] #16 closed

[2019-10-03 19:49] oxedions commented on #13
Available in ansible/inventory, and also in resources/example.

Done

[2019-10-03 19:49] #13 closed

[2019-10-03 19:51] oxedions commented on #9
Not blocking for RC of 1.0.0.
Working for alerts, but rules to gather data do not seems to work.

Will need to be checked.

[2019-10-03 19:52] oxedions commented on #15
Nearly done :-)

JK, can you finish this part ?

Thanks.

[2019-10-03 19:53] oxedions commented on #12
Hello Johnny,

Server is up and running, hardening is done. I am uploading repo.

Once doc is ok on your side, we can close this issue :-)

Ox

[2019-10-15 18:54] oxedions commented on #10
No answers, so closing for now.

[2019-10-15 18:54] #10 closed

[2019-10-22 11:04] bouriquet15 opened #19 "Missing "tagging convention" in contribution guidelines"
Hi
It could be great to have tag convention (a simple list of standard tags you are using) in CONTRIBUTING file.

[2019-10-23 08:40] bouriquet15 commented on #19
Tag convention suggestion :
- install : for package module
- template : for template/lineinfile modules (looks like you already use this one, but it is not fully implemented in all roles
- service : force service/systemd module

[2019-10-23 12:08] bouriquet15 opened #20 "Missing "}" in conman role"
https://github.com/oxedions/bluebanquise/blob/48057e5f6173233f9799f9cf1b141600791bf2e2/roles/core/conman/tasks/main.yml#L5

[2019-10-23 12:49] bouriquet15 commented on #20
PR submitted : https://github.com/oxedions/bluebanquise/pull/21

[2019-10-23 16:49] bouriquet15 opened #23 ""equipment_naming" not taken by ipxe templates"
Hi,

The internal var "equipment_naming is not taken by the pxe_stack role.

PR submitted for RH/CentOS part : https://github.com/oxedions/bluebanquise/pull/22

This correction should be applied on other distributions

[2019-10-23 19:31] oxedions commented on #20
Corrected by merging PR.

Thanks for the issue.

Ox

[2019-10-23 19:31] #20 closed

[2019-10-23 19:32] oxedions commented on #23
Thanks for this fix.

I will solve this same issue on ubuntu and opensuse templates.

Will keep this issue open until its done.

Ox

[2019-10-23 19:34] oxedions commented on #19
I can only agree, these tags are vital for diskless elements or just to speedup updates of configuration.

Do you think "install" is better than "package" for packages tag ?

Ox

[2019-10-23 19:44] bouriquet15 commented on #19
Some of my use cases :
- install tag : in post installation with --check -t install,role_name to check installed packages
- template tag : in post install too with --check --diff to check templates/lines before applying
- service tag : mainly with --skip-tags to disable critical services (re)starting

Feel free to adapt the name of theses tags and/or add more tags, i do not have any preference bet

[2019-10-24 13:36] bouriquet15 opened #25 ""equipment_naming" in pxe_stack role task"
Missing equipment_naming support in pxe_stack task
When condition simplification for RH / CentOS test

PR submitted : https://github.com/oxedions/bluebanquise/pull/24

[2019-10-24 18:13] oxedions commented on #25
Hello,

Nice catch. There probably is same issues with iceberg naming, I will check this for the 1.1.1 release.

Many thanks for this PR ;-)

Ox

[2019-10-24 18:13] #25 closed

[2019-11-04 20:26] oxedions commented on #23
Hello @bouriquet15 ,

Based on your PR that simplified templating for iPXE files, I redesigned the whole iPXE chain process, to handle easily diskless and other boot modes.

You can have a look inside branch 1.2.0, in pxe_stack role.

Many thanks for your initial idea ;-)

[2019-11-04 20:28] oxedions commented on #19
Hello @bouriquet15 ,

My apologies for the delay.

Ok, I will include many tags in 1.2.0 branch, and take this opportunity to clean some "dev" tags.

Ox

[2019-11-05 13:55] bouriquet opened #26 "Improve IPXE ROM robustness"
Hi,

Can you provide a more reliable IPXE (mainly for the DHCP part) ? It works perfectly with good switches, but when it comes to old switches, the interface configuration command hangs out and timeout after 5 retries.

File : bluebanquise_standard.ipxe

Command to be changed :
ifconf --configurator dhcp || shell

Exemple provided by the IPXE website :
:retry
ifconf --configurator dhcp || goto re

[2019-11-06 13:28] bouriquet15 opened #27 "Remove python scripts from templates"
Hi,

I think python scripts (bootset) code should not be include in Ansible templates.

Moving this code to a more standard path and making the code "static" (by declaring your CLI in a setup.py file and remove sources from role templates) could be a great enhancement.

Configuration of the bootset executable can be done through an external configuration file (let's say /etc/bootset/bootset.conf)

[2019-11-06 19:46] oxedions commented on #27
Hello @bouriquet15

I agree with this.

I will first do the external configuration file part. However could you be more specific regarding the setup.py ? I though of putting the file in the role/files folder to do a simple copy in the task, but what you propose is to put the bootset file into an rpm ?

Ox

[2019-11-06 19:50] oxedions commented on #26
Hello again,

Thank you for asking this feature.

I can do that. Assuming you are using the iPXE rom, it means you got the DHCP the first time, so waiting for the link to come back is something logical. I already faced this kind of issue with a customer one time.

I will update the ipxe rpm with this new one, and add it into the dhcp role.

Keep you in touch once it is done ;-)

Ox

[2019-11-06 20:10] oxedions commented on #26
Added into https://github.com/oxedions/bluebanquise/commit/d67f5e95e1b669c144dcfadf79c74809c9702955

I need to rebuild the ipxe rpm, may take some time...

Ox

[2019-11-06 21:42] bouriquet15 commented on #27
Hi @oxedions,

Here is a sample project showing how to package a python project and describing all required fields in the setup.py file : https://github.com/pypa/sampleproject

And the associated documentation : https://packaging.python.org/tutorials/packaging-projects/

Theses tutorials are the pythonic way to package your scripts.
For RPM building, you gonna need to add another extra layer (Make

[2019-11-07 18:38] oxedions commented on #27
Hello @bouriquet15

Many thanks for all these information. I will consider all of this as I will work on packaging soon.

See last commit, bootset is no more a template :-)

Closing this issue regarding bootset.

Ox

[2019-11-07 18:38] #27 closed

[2019-11-07 18:39] oxedions commented on #23
Hello @bouriquet15 ,

Since all of this has been rewamped in branch 1.2.0, I will close this issue.

Ox

[2019-11-07 18:39] #23 closed

[2019-11-08 15:36] hmeAtos opened #28 "missing '}' in template bluebanquise/roles/advanced-core/advanced_dhcp_server/templates/dhcpd.networks.conf.j2"
[code]
please add '}' after line 44

[2019-11-08 15:46] hmeAtos opened #29 "failed restart DHCP with opt82 option tempate"
Error '_pool declared outside of network_', this error is not explicit !

The real issue is in /etc/dhcp/dhcpd.{network}.conf
we can't define a pool in a group

[2019-11-11 13:30] oxedions commented on #29
Dear @hmeAtos ,

Thank you for this issue.

I will rework the whole advanced dhcp, as opt82 match hack does not seems to accept to be in groups.
I will consider sys admin using advanced dhcp knows what he/she is doing, and so rely only on equipment_profiles to define the iPXE rom to be used.

Branchs 1.1.1 will get the fix soon :-) Note that this will need a modification in the inventory, so an in

[2019-11-11 13:30] oxedions commented on #28
See issue #29 , will rewrite the whole role.

[2019-11-13 06:16] oxedions commented on #29
Dear @hmeAtos ,

Can you check the latest fix in 1.1.1 branch regarding advanced dhcp server ?

I adapted inventory, please check group_vars/all/all_equipments/equipment_profile.yml for new parameters to take into account: ipxe_driver, ipxe_platform, and hardware:cpu:architecture.

Ox

[2019-11-13 09:18] #28 closed

[2019-11-13 09:18] hmeAtos commented on #28
Fixed, thank you

[2019-11-13 13:30] hmeAtos opened #30 "adding a BMC entry with option_match in inventory doesn't work"
Hi,
i find a new issue.
When I want to add a BMC entry with option82 match, the entry in dhcp file isn't added.
On the other hand, the entry with mac works.

[code]
Kind regards,

[2019-11-13 14:03] oxedions commented on #30
Hello,

Fixed in https://github.com/oxedions/bluebanquise/commit/0931f6ca46dac6cebb262b81a2572b0947bdf777

My apologies for this bady copy/past :-p

Ox

[2019-11-13 14:03] #30 closed

[2019-11-13 14:07] hmeAtos commented on #30
great!
Thanks

[2019-11-14 13:35] bouriquet15 opened #32 "Improve quality, add services enabling/disabling variable"
Hi,

i submitted a PR (see https://github.com/oxedions/bluebanquise/pull/31) containing the following changes :

**Major changes :**
* Add boolean to disable all services (HA)
* Implement tags + tag uniformisation (package, template, service)
* Implement handlers

**Minor changes :**
* Use new package module syntax (using list in name instead of loops)
* Replace some "with_X" by loop
* Minor fixes

[2019-11-14 13:36] bouriquet15 commented on #19
Following tags have been implemented in issue https://github.com/oxedions/bluebanquise/issues/32 :
* package
* template
* service

[2019-11-14 19:36] oxedions commented on #19
Closing because done in another (#32 )

[2019-11-14 19:36] #19 closed

[2019-11-14 19:37] oxedions commented on #29
Closing because fixed.

[2019-11-14 19:37] #29 closed

[2019-11-14 19:39] oxedions commented on #32
Dear @bouriquet15

Many thanks.

Could you also add a way to disable services start/restart/stop ? So absolutely no services managements.

If you need, I can do it on my side.

Ox

[2019-11-14 19:40] oxedions commented on #9
Done.

[2019-11-14 19:40] #9 closed

[2019-11-19 18:38] bouriquet15 commented on #32
Hey,

PR updated with service state handling + some minor fixes

[2019-11-19 18:49] oxedions commented on #32
Hello,

Many thanks.
Reviewed, and ok.

[2019-11-19 18:59] oxedions commented on #32
And release 1.1.1 is out ;-)

Many thanks. I hope github will add you as contributor automatically, we will see soon.

[2019-11-19 18:59] #32 closed

[2019-11-27 12:06] gavillom opened #37 "Missing external_* checks in some roles"
Hey ,

I'm trying to use bluebanquise to deploy a cluster stack. I'm not interested in using external servers at all. So I just removed values from example in my inventory. The file (/etc/ansible/inventory/gorup_vars/general_settings/external.yml) is like this :

[code]

Then I got the following error on several roles (at least hostsfile, dns_client, dns_server) :

[code]
It feels like templates n

[2019-11-27 18:38] oxedions commented on #37
Hello @gavillom ,

Many thanks for this issue.

I corrected it this evening, and now solved in https://github.com/oxedions/bluebanquise/commit/bfab905a0301439b52786f164b0414bd87843de2

You can pull to get latest fix.
I also updated a false atftp package name in pxe_stack.

With my best regards

Ben

[2019-11-28 07:28] gavillom commented on #37
Hi Ben,

Commented commit bfab905. I think fix is missing from some other roles.

Mathis

[2019-11-28 20:43] oxedions commented on #37
Fixed, now closing.

Thanks for the bug report ;-)

Ben

[2019-11-28 20:43] #37 closed

[2019-11-29 15:06] gavillom opened #39 "iPXE os deployment is not working on RHEL 7 (and probably on Centos 7)"
Hi,

iPXE os deployment is not working on RHEL 7. in fact, inst.repo URL point to a BaseOS folder that is existent in Redhat 8 but not in Redhat 7. It causes pxe installation failure.

Mathis

[2019-11-29 15:26] gavillom commented on #39
Proposed PR: #40

[2019-11-30 13:52] oxedions commented on #39
Hello @gavillom

See comment in the PR.

Many thanks !

Ben

[2019-11-30 13:52] #39 closed

[2019-12-03 14:01] hmeAtos opened #41 "Improve roles: 'repositories_client' 'repositories_server'"
Hi,

It is possible to add a feature allowing to access an external repos ?
For exemple : EPEL, Erratas, or others

[code]

Best regards,

[2019-12-03 14:17] bouriquet opened #43 "bootset refactoring"
Hi @oxedions,

Just submitted a bootset refactoring PR here : https://github.com/oxedions/bluebanquise/pull/42

It can be improved, but i think that's a better base for improvment.

TODO :

- OO class
- Add error handling
- More flexibility (we should be able to develop additionnal plugins to add more boot methods)
- Use logging lib instead of print

[2019-12-03 15:33] bouriquet commented on #41
https://github.com/oxedions/bluebanquise/pull/44

[2019-12-03 20:12] oxedions commented on #43
Hello,

Many thanks for the associated PR.

Could you explain me why it is better to use '   '.format(), on multiple lines, instead of doing a big myval = """ my text on multiple lines """.format() ?

I found the second method easier to read by users.

Ben

[2019-12-03 20:13] oxedions commented on #41
Hello @hmeAtos

Many thanks for this FR.

@bouriquet Propose a PR, merged. However, I let this feature request open, as I am not satisfied with current naming convention.

Ben

[2019-12-03 20:15] oxedions commented on #26
Images are built, and available in latest rpms.

Closing.

Ben

[2019-12-03 20:15] #26 closed

[2019-12-03 20:17] oxedions opened #45 "Need carrier timout at dracut handling"
On many hardware, NIC carrier timeout too fast at dracut, leaving osdeploy or diskless boots orphan of kickstart or image.

A simple dhclient in dracut shell shows ip is easy to get, but dracut timed out too fast.

Need a simple way in bootset to add correct kernel parameters to ask dracut to wait and retry more.

[2019-12-04 08:34] bouriquet commented on #43
Hi,

That's not better, just a personal choice for this correction.

Since you cannot indent your text when using """ ... """ on multiple lines, i found it was more readable to use a set ('','',...) and indent this portion of code.

You still can move the .format at the end of the line if you think it is more readable that a "by line" format

[2019-12-16 07:34] oxedions opened #50 "SELinux issues with NFS /home"
When upgrading tumulus cluster to 1.2.0, we found an issue with SELinux on logins nodes with /home for uses.

A boolean must be set.

[2019-12-16 07:34] oxedions commented on #15
Documentation has been upgraded.

[2019-12-16 07:34] #15 closed

[2019-12-16 07:36] oxedions opened #51 "Report enhancement"
Need to finish report role:

- plugins
- remove ansible-inventory-grapher and ansible-playbook-grapher
- add more patterns
- finish network graph generation
- add system map and racks map

[2019-12-16 07:38] oxedions commented on #12
Done, at bluebanquise.com

[2019-12-16 07:38] #12 closed

[2019-12-16 07:39] oxedions opened #52 "Clonezilla for Microsoft Windows"
Tumulus has 2 Windows 10 systems.

We are using clonezilla to backup/reinstall. Need support for basic imaging based on clonezilla live.

1.3.0 Milestone.

[2019-12-16 07:40] oxedions opened #53 "Missing documentation for diskless, need disklessset improvement"
Diskless doc and tools must largely be improved.

[2019-12-16 07:41] oxedions opened #54 "Accelerated mode benchmarks and devs"
Accelerated mode POC must be benchmarked on Tumulus with thousands of hosts.

If performant, developments must be ended.

[2019-12-17 22:44] oxedions commented on #50
Fixed by https://github.com/oxedions/bluebanquise/commit/ed2c941fefa995863a310f2428c0fcfb1d1e2823

[2019-12-17 22:44] #50 closed

[2019-12-17 22:45] oxedions commented on #41
Fixed by https://github.com/oxedions/bluebanquise/commit/d60214be34d6083c7b29922e4ddb8d9aaf745672

[2019-12-17 22:45] #41 closed

[2019-12-18 15:40] jpm38 opened #58 "bootset should allow to write output files on an alternate root path"
For now, bootset generates output configuration files on the local root file system.
This feature request is a requirement for deployment types who have their services running on a different node than the node hosting locally the configuration files.
As an example, we have dhcp, tftp, http services running inside containers on different hosts (orchestrated by kubernetes for instance). These servic

[2019-12-18 15:50] jpm38 opened #59 "Need script and directory tags in pxe_stack role"
When deploying services like dhcp, tftp, http, dns etc. inside containers running on various bare metal nodes, we used the ansible "chroot" connector to generate the configuration files on a shared file system mounted on all nodes.
We want to use the standard roles (dhcp, dns, pxe_stack ...) for that purpose, but we do NOT want to start the services on the bare metal management node. So we use the

[2019-12-18 15:58] jpm38 opened #60 "Need to have 2 disctinct services for tftp and http in pxe chain boot"
Bluebanquise stack uses the same IP address in pxe chain boot for tftp service and http service: The pxe_ip variable in network definition.
networks:
  ice1-1:
    subnet: 10.10.0.0
    prefix: 16
    netmask: 255.255.0.0
    broadcast: 10.10.255.255
    dhcp_unknown_range: 10.10.254.1 10.10.254.254
    gateway: 10.10.255.254
    is_in_dhcp: true
    is_in_dns: true
    services_ip:
      pxe_ip:

[2019-12-18 16:19] actatux commented on #58
So you want to override /var/www/html/preboot_execution_environment/ with a custom path?

[2019-12-18 16:21] jpm38 commented on #58
Exactly !

[2019-12-19 01:59] actatux commented on #58
I checked the PXE Stack, a lot of elements are tightly coupled and rely on the directory /var/www/html/preboot_execution_environment/.
Would it be possible to mount this shared storage file system into /var/www/html/preboot_execution_environment/?

Then you could use bootset as usual, which will update the shared storage.
If so, we would need to modify roles/core/pxe_stack/tasks/main.yml to allow

[2019-12-19 08:11] oxedions commented on #58
Dear @jpm38,

Did you test all the pxe_stack role in chroot mode ? If all pass this way, then adding a custom path handling in bootset could be done through the dedicated yml file.

Proposal of @actatux is also a good way to handle this need.

Note that after reviewing the code, I found this issue deeper than I thought it would be: BlueBanquise is design to run on multiple distributions, and Ubunt

[2019-12-19 08:13] oxedions commented on #59
Dear @jpm38 ,

Thank you for this proposal. I agree it would be a good feature.

Could you propose a PR based on branch 1.2.0 ?

Many thanks !

Ox

[2019-12-19 08:20] oxedions commented on #60
Dear @jpm38 ,

I understand your need.

The PXE chain was designed to be as simple as possible for debugging, as I found PXE part is always the trickiest part.

However, having the ability to split these 2 ip is understandable.

I can propose you the following way, only for advanced_dhcp_server role:

If in network ice1-1 for example, the service pxe_http_ip is set (assuming here 10.10.77.1), then

[2019-12-19 08:53] jpm38 commented on #58
Dear @oxedions

I've tested the pxe_stack in chroot mode and it does the trick. The remaining issue is the hardcoded path in the bootset command. Good to ear that this feature request is also needed for other distributions.

[2019-12-19 08:54] jpm38 commented on #59
Dear @oxedions

Sounds goot to me.

JPM

[2019-12-19 09:00] jpm38 commented on #60
Dear @oxedions

Your proposal looks good to me and fit exactly our needs.
Can I hope to have this feature in 1.2 ?
Many thanks

JPM

[2019-12-30 11:18] oxedions commented on #60
Dear @jpm38 ,

@actatux PR provided a solution.

I will rebuild new roms and you will be able to benefit from it, in 1.2.0 version :-)

Ben

[2019-12-30 11:18] #60 closed

[2019-12-31 21:23] oxedions commented on #45
Done for 1.2.0.

[2019-12-31 21:23] #45 closed

[2019-12-31 21:25] oxedions commented on #43
I updated the script :
[code]
In RHEL 8, I have an issue with PyYaml version :-(

Ben

[2020-01-07 23:14] actatux commented on #59
Could you achieve the same behavior (don't start services) with --skip-tags "service"?

[2020-01-08 11:41] oxedions commented on #43
As discussed, done for now.

[2020-01-08 11:41] #43 closed

[2020-01-08 11:41] oxedions commented on #52
Done. Cloning is added in the stack.

[2020-01-08 11:41] #52 closed

[2020-01-08 11:42] oxedions commented on #53
Diskless has been improved, and documentation is self sufficient for now, as the tool is acting like an UI.

[2020-01-08 11:42] #53 closed

[2020-01-08 11:42] oxedions commented on #54
Delayed to 1.2.1

[2020-01-08 11:42] oxedions commented on #54
Accelerated mode POC has been made for hosts_file

[2020-01-08 11:43] oxedions commented on #51
Delayed for 1.2.1. All features are present, only need validation/fix.

[2020-01-08 11:43] oxedions commented on #58
Dear @jpm38 ,

Did you test the @actatux proposal ?

Best regards

Ben

[2020-01-08 12:18] jpm38 commented on #58
I'm not sure the @actatux proposal fit into my requirement.
I would like to be able to generate pxe configurations into several share storage places.
The second thing is that I'm relying on a Ceph Filesytem /cephfs.
For instance, I could have several namspaces (infra1, infra2, ... infraN) for which I want to generate pxe environment:
/cephfs/data/infra1/var/www/html/preboot_execution_environment/

[2020-01-08 12:21] jpm38 commented on #59
I've tested your proposal adding also the skip of "package":
--skip-tags package,service

and it does the trick.

thanks

[2020-01-08 15:43] actatux commented on #59
Can we close then?

[2020-01-08 16:06] jpm38 commented on #59
yes, sure

[2020-01-10 07:47] oxedions commented on #59
Closing.

[2020-01-10 07:47] #59 closed

[2020-01-17 03:20] actatux opened #82 "disklessset.py: static code analysis error"
I'm concerned by the `F821 undefined name 'node'`.

[code]

[2020-01-23 12:32] oxedions commented on #82
Hello @actatux

Many thanks.

I corrected the last issue (https://github.com/oxedions/bluebanquise/commit/4d94963a9ef81fe0ee0b9b66395770dabdd95c1d). But I need to test the whole script, and I realize I forgot the task part :-(

[2020-01-23 13:01] actatux commented on #82
Take a look at https://github.com/oxedions/bluebanquise/runs/405012093 :-)

[2020-01-23 13:45] oxedions commented on #82
Why do you hate me so much ? :-D

Nice !
I really need to review this diskless script...

[2020-01-30 07:52] oxedions opened #91 "Missing documentation on multiple icebergs"
Documentation about multiple icebergs is missing.

Need to add it.

[2020-01-30 10:49] #82 closed

[2020-02-06 10:11] loar38 opened #94 "Need the dns server to listen and allow query on all networks"
In a kubernetes context, the DNS server is started in a container and only knows the kubernetes network (not managed by bluebanquise but by kubernetes)
In this case, we must delete the listen-on and allow_query section and keep the default behavior to be able to function

for example

[code]

[2020-02-06 13:14] actatux commented on #94
Hello @loar38 ,

Would adding the k8s network configuration to your inventory be an acceptable solution?

We can still add a tunable to toggle the use of `listen-on` and `allow-query`, but listening on all interfaces and answering to any request might have undesirable side-effects one need to understand before disabling those options.

[2020-02-07 15:21] gavillom opened #95 "Bluebanquise roles should support chroot ansible_connection type"
Hey,

From several weeks now, we're using the amazing Bluebanquise roles to manage our cluster and most of all to customize our overlayfs diskless images.
That allow us to have diskfull and diskless system configured on the same way, which really ease the way of managing clusters.

Some roles are using "service" Ansible task that do not work very well when using chroot ansible connection plugin. I

[2020-02-07 19:22] oxedions commented on #95
Dear @gavillom

Thank you for this issue.

Did you check the general settings?

https://github.com/oxedions/bluebanquise/blob/master/resources/examples/simple_cluster/inventory/group_vars/all/general_settings/general.yml

You can disable here services (enable and/or start).

Maybe it will be enough to solve your problem ? If not, then indeed there is an issue :-)

With my best regards

Ben

[2020-02-08 03:09] actatux commented on #95
Hello Mathis,

The solution provided by @oxedions should answer your need. While discussing the issue, we noticed some roles don't support the 2 parameters `enable_services` and `start_services`.
This should be fixed with PR #99. Please give a try and provide a feedback.

[2020-02-11 09:03] #95 closed

[2020-02-13 09:52] loar38 commented on #94
Hello @actatux ,
After several tests with an additional network and fake nic on this network, it seems ok for chrony, dns and dhcp but we found a bug on the advance_nic role.
As the IP on the host is managed by kubernetes we can't set an IP for the new nic and then the role generate a wrong ifcfg file for the fake nic.
An other remark is that for the dns as we don't know in advance the IP of the c

[2020-02-13 09:52] #94 closed

[2020-02-13 23:05] actatux commented on #94
Hello @loar38 ,

There is no `advance_nic` role, do you mean `nic`?

About your dns issue, I'm not familiar with k8s, but I find it surprising you cannot set an IP for the service, especially dns. Any other service can change its IP dynamically, all you would have to do is to update the map and reload the dns configuration. But for dns, if your IP should be set randomly, how would you configure th

[2020-02-13 23:37] actatux opened #100 "Feature request: add support for slave dns"
I was reviewing the `dns_client` and `dns_server` roles and noticed there is a maximum number of one DNS server per network.

Could we consider adding support for secondary DNS servers?
We can discuss this in this thread then I can push a PR if accepted.

[2020-02-14 12:46] loar38 commented on #94
Hello @actatux ,
It seems that the advance_nic role has be moved to the nic role en 1.2 version.
Thank you for your remark
You have right, all services have an external IP to be adressed by equipement outside the k8s internal network.
The IP service (external) for dns are static and not allocated by kubernetes
But pods knows only the k8s internal network.
This is why the service need to allow or l

[2020-02-14 13:19] loar38 opened #101 "An wrong ifcfg file is generate even no ip is set in the nic declaration"
We need to declare a nic in a new network but we can't set an IP as the IP will be mamanged by kubernetes.
I tried addind a test to skipped the ifcfg generation if no ipv4 is set in the role nic
For example

[code]
without the test, an ifcfg file is generate but with empty parameter.

[2020-02-14 13:36] actatux commented on #101
Could you paste the generated ifcfg file without your patch?

[2020-02-14 13:38] loar38 commented on #101
Here is the generated ifcfg file
[root@omn2 ~]# cat /etc/sysconfig/network-scripts/ifcfg-k8s
#### Blue Banquise file ####
## Ansible managed: modified on 2019-11-26 10:23:51 by root on hmn2

NAME=k8s
DEVICE=k8s
ONBOOT=yes
NM_MANAGED=yes
BOOTPROTO=none

TYPE=Ethernet

GATEWAY=20.50.0.2

[2020-02-14 14:03] oxedions commented on #100
Dear @actatux ,

This is indeed a good question.

Yes, this would be very easy to add. Maybe I would suggest that instead of:

`dns_ip: 10.10.0.7`

Two syntax would be accepted, and the Jinja code would switch from one to the other without issues:

`dns_ip: 10.10.0.7`

or

[code]

Allowing more than 2 DNS servers...

Using an "if" with "is iterable", maybe it would worth a try.

Ben

[2020-02-14 14:07] oxedions commented on #101
Dear @loar38

Yes, you are right, a **when** condition with presence of **ipv4** should be set in the task.
Would you accept to provide your patch as a PR?

Please consider that I made a mistake in many files, and that this:

`  when: (network_interfaces[item]['ip4'] is defined and not none)`

Is not right. You have to use instead:

`  when: (network_interfaces[item]['ip4'] is defined and network_

[2020-02-14 15:15] loar38 commented on #101
Dear @oxedions
Yes for sur sure, I will open 2 PR one for 1.1.2 version and one for 1.2.1 version
Using the test you propose
Laurent

[2020-02-24 19:20] oxedions opened #111 "Conman template: wrong execpath"
Value:
SERVER execpath="/usr/share/conman/exec"

Is not adapted to new path of conman.

[2020-02-25 13:14] oxedions opened #112 "Missing Ansible role to deploy Ansible rpm"
In Multi Iceberg, an Ansible role to deploy Ansible itself is needed, and must be added into core.

[2020-02-25 15:07] oxedions opened #113 "PXE_stack role template nodes_parameters issue with non server hosts"
Template should prevent non server hosts to be included, and do not filter right now.

Should add:

{% for host in range %}
{% if hostvars[host]['equipment_profile']['equipment_type'] == "server" %}
...
{% endif %}
{% endfor %}

[2020-03-06 19:38] oxedions commented on #113
Missing :
{% if hostvars[host]['network_interfaces'] is defined and hostvars[host]['network_interfaces'] is not none %}

[2020-03-10 14:32] oxedions commented on #101
Dear @loar38

Did you find time to open the PR ? One for master branch will be enough :-)

Ben

[2020-03-10 14:32] oxedions commented on #91
Done.

[2020-03-10 14:32] #91 closed

[2020-03-10 14:33] oxedions commented on #54
Proved to work.

Will wait for a need now to deploy POC to other templates.

[2020-03-10 14:33] #54 closed

[2020-03-10 14:33] oxedions commented on #58
Dear @jpm38

Did you get the time to check your need ?

Ben

[2020-03-11 13:50] oxedions commented on #111
Solved by @bouriquet

[2020-03-11 13:50] #111 closed

[2020-03-11 14:28] actatux commented on #111
PR #115

[2020-03-12 09:41] jpm38 opened #131 "advanced_nic role: NM_MANAGED must be set to false in RHEL7"
The ifcfg.j2 template sets the NM_MANAGED flag to yes whatever the operating system installed on the host.
For nodes running in RHEL7, the NM_MANAGED MUST be set to no.

[2020-03-12 16:15] actatux commented on #131
@oxedions where does this NM_MANAGED come from? I can't find it documented in /usr/share/doc/initscripts*/sysconfig.txt for both el7 and el8.

[2020-03-13 08:03] jpm38 commented on #131
I don't know but it is used in the role advanced_nic:
template ifcfg.j2
#### Blue Banquise file ####
## {{ansible_managed}}

{# 1. First the name and default parameters. #}
NAME={{item}}
DEVICE={{item}}
{% if (network_interfaces[item]['autoconnect'] is defined and not none) and (network_interfaces[item]['autoconnect'] == false) %}
ONBOOT=no
{% else %}
ONBOOT=yes
{% endif %}
NM_MANAGED=yes
BOOTPROT

[2020-03-13 08:06] jpm38 commented on #131
It seems that NM_CONTROLLED is the parameter name documented.

[2020-03-13 11:58] actatux commented on #131
Does it change the behavior when you change NM_MANAGED ?

[2020-03-13 12:25] jpm38 commented on #131
Yes, when setting NM_MANAGED to no in RHEL7 , the interface is configured in static mode as expected.

[2020-03-13 13:33] oxedions commented on #131
@actatux We used to set NM_MANAGED to no in RHEL 7.
But in RHEL 8, it is mandatory (you can even skip it, I let it to clarify configuration).

[2020-03-13 14:09] oxedions commented on #131
This is NM_CONTROLLED, my bad ;-)

[2020-03-13 15:27] actatux commented on #131
Still strange changing NM_MANAGED to no in EL7 changes the behaviour. I will dig further.

[2020-03-26 15:10] oxedions commented on #113
https://github.com/bluebanquise/bluebanquise/pull/138

[2020-03-26 15:10] #113 closed

[2020-03-26 15:10] oxedions commented on #112
https://github.com/bluebanquise/bluebanquise/pull/143

[2020-03-26 15:10] #112 closed

[2020-03-26 15:10] oxedions commented on #101
Solved. Thanks all !
Closing.

[2020-03-26 15:10] #101 closed

[2020-03-26 15:11] oxedions commented on #51
Seems ok now. Closing.

[2020-03-26 15:11] #51 closed

[2020-03-26 15:12] oxedions opened #144 "Documentation is missing some parts"
Missing parts:
- [x] Ansible training do not cover tasks (when, loop, with_items, etc)
- [ ] equipment_profiles values are not properly explained in the documentation, and available values are not provided.
- [x] Web site upgrade with new documentation

[2020-03-26 17:14] jpm38 opened #146 "dns_server role: remove "@ IN A 10.0.0.1 mngt IN A 10.0.0.1" from forward template"
These 3 lines are not needed and are leading the the dns_server role failing in chroot context execution.

diff -r roles/core/dns_server/templates/forward.j2 roles.bkp/core/dns_server/templates/forward.j212a13,15> @ IN A {{network_interfaces[j2_node_main_network_interface]['ip4']}}>> {{inventory_hostname}} IN A {{network_interfaces[j2_node_main_network_interface]['ip4']}}
--

[2020-04-03 12:45] bouriquet opened #151 "RPM generation : missing signature"
Hi,

RPMs builded by BB under https://bluebanquise.com/repository/ should be signed and a RPM containing your GPG key should be provide ?

[2020-04-06 15:33] actatux commented on #151
This could be a great feature for a next release.

[2020-04-07 08:15] oxedions commented on #151
Agreed. 1.3 is expected to focus on user interface and security. This could be part of the security side.

[2020-04-08 13:21] oxedions commented on #151
This issue need to be moved to bluebanquise infrastructure repository.

[2020-04-09 01:27] actatux commented on #131
I don't find any reference to NM_MANAGED in https://github.com/fedora-sysv/initscripts.
Anyway, I will propose a tunable to toggle NM_CONTROLLED between `yes` and `no`. It will default to `yes` to keep the default RHEL behaviour.

[2020-04-12 15:04] btravouillon opened #165 "[CI] ci: implement unit tests for roles with Molecule"
Issue to track the work to implement CI/CD unit tests of the roles with [Molecule](https://molecule.readthedocs.io/en/latest/). Please refer to the instructions below. You can use PR #242 as an example.

## Core roles
- [x] bluebanquise (#221)
- [x] conman (#170) (#463)
- [x] dhcp_server (#413)
- [x] display_tuning (#175)
- [x] dns_client (#175)
- [x] dns_server (#162)
- [ ] hosts_file (Cannot be

[2020-04-12 15:17] actatux opened #166 "time: do not define both server and pool together"
The role `time` defines both `server` and `pool` in chrony configuration if both are defined in the inventory.

[code]

We should change this behaviour to define either server(s) or pool. I would default to pool.

See:
 - https://chrony.tuxfamily.org/faq.html#_what_is_the_minimum_recommended_configuration_for_an_ntp_client
 - https://help.fortinet.com/coyotepoint/10-3-2/Content/NetConfig/Selecting

[2020-04-12 16:10] strus38 opened #167 "roles/core/time - not working on ubi8 image"
Hi
molecule testing is showing the following error:
` TASK [time : Install packages] *************************************************
fatal: [instance]: FAILED! => {"changed": false, "failures": ["No package chrony available."], "msg": "Failed to install some of the specified packages", "rc": 1, "results": []}`

[2020-04-12 16:11] strus38 opened #168 "roles/core/time - not working on ubuntu18.04"
Molecule testing not working on ubuntu18.04:
` TASK [time : Install packages] *************************************************
fatal: [instance]: FAILED! => {"changed": false, "msg": "No package matching 'chrony' is available"}
    `

[2020-04-12 21:33] actatux opened #169 "core/conman - j2_under_icebergs is undefined"
Run of role conman fails:
[code]
The variable `j2_under_icebergs` was removed with 8c6a358.
[code]

[2020-04-13 18:58] actatux commented on #167
Chrony is not available in the public CDN for UBI: https://cdn-ubi.redhat.com/content/public/ubi/dist/ubi8/8/x86_64/baseos/os/Packages/c/

To use this `ubi8` image, we would need a valid RHEL subscription to be granted access to RHEL repositories.

[2020-04-13 19:26] actatux commented on #168
The apt cache seems empty/outdated in the image.

[code]

[2020-04-13 19:34] actatux commented on #168
The apt cache is explicitly removed during the build of the image: https://github.com/geerlingguy/docker-ubuntu1804-ansible/blob/e304fc5ba032edbd9c908709f3e8b4cc43e0de74/Dockerfile#L15

[code]

[2020-04-14 07:16] strus38 commented on #167
Ok, commented out the ubi7/ubi8 lines in travis.

[2020-04-14 07:16] #167 closed

[2020-04-14 11:12] strus38 commented on #165
PR 174 for addons/clustershell and addons/users_basic.

[2020-04-14 11:50] oxedions commented on #169
Strange, I thought this was corrected.

I must have forgot to commit it. I will have a look.

[2020-04-14 11:51] oxedions commented on #166
Agreed on my side, pool should go first.

[2020-04-14 11:53] oxedions commented on #168
Beware with Ubuntu parts.
As described on the Readme, ubuntu support is not full, and need a dedicated work.
PXE works, but I remember seed was missing the ssh key.

[2020-04-14 12:01] #131 closed

[2020-04-14 13:33] actatux opened #176 "Remove molecule files from RPMS"
With recent introduction of unit testing with Molecule, we need to ensure these files are not delivered in the RPMS.

[2020-04-14 19:08] strus38 commented on #176
implemented in #178

[2020-04-15 09:32] lemoinepierre opened #181 "Lmod role"
Hi,
it looks like BB does not include anything related to [Lmod module](https://github.com/TACC/Lmod).

Such a tool would be really convinient to easily manage different version of same compilers or application.
Do you think you can integrate it in BB?

[2020-04-15 12:47] actatux commented on #176
#178 merged.

[2020-04-15 12:47] #176 closed

[2020-04-15 12:48] oxedions commented on #181
Dear @lemoinepierre

Thank you for this request.

Indeed, BB is missing the user side, and I find Environment Module a bit old. I know customers using Lmod, so I will have a look :-)

Give me few days to investigate this.

[2020-04-15 20:42] actatux commented on #146
Hello @jpm38 , there is a proposal in #158, does it solve your issue?
PR is still pending for reviews.

[2020-04-16 06:36] jpm38 commented on #146
Hello @actatux
Yes, it's perfect.
thanks a lot

[2020-04-16 13:09] oxedions opened #182 "General features requests dashboard"
# General features planed for 1.4.0

## Focus on

**Core**
- [ ] bootset dedicated kernel params (ability to add dedicated kernel params at bootset invocation. Nodes files already have this variable).
- [ ] nmcli replacement for nic role (replace current templates by nmcli module).
- [ ] Advanced routing for network (default gateway in case of multiple, routing in multiple icebergs, etc).

**Addon

[2020-04-21 13:44] #146 closed

[2020-04-22 13:11] #169 closed

[2020-04-24 14:03] johnnykeats opened #195 "Need to exclude molecules rst from documentation"
INSTALL.rst files end up in documentation.
Need exclude pattern in sphinx conf.py.

[2020-04-24 14:04] johnnykeats commented on #181
Also using Lmod.
+1 on this. Need to allow default and customs paths.

[2020-04-24 14:05] johnnykeats commented on #144
Seen website has been upgraded. Done?

[2020-04-24 14:08] johnnykeats commented on #166
Good catch.

[2020-04-24 14:40] oxedions commented on #195
Hello JK.
But non added rst files should not be taken into account, am I wrong ?

[2020-04-24 14:40] oxedions commented on #195
Hello JK.
But non added rst files should not be taken into account, am I wrong ?

[2020-04-24 14:41] oxedions commented on #144
Yes, updated.

[2020-04-24 14:44] johnnykeats commented on #195
Nop, will pollute final _build.
Simply need to add an **/molecule in exclude patterns.

[2020-04-24 14:54] oxedions commented on #195
Ok, got it. Strange, for me that sphinx gather also not asked files.

[2020-04-24 14:56] johnnykeats commented on #195
Check make logs and _build output.

[2020-04-24 15:02] johnnykeats commented on #168
@strus38 Do you need an Ubuntu/Debian support? If yes, please detail.

[2020-04-24 15:40] oxedions commented on #195
Ok, I see. Can you handle the PR ?

[2020-04-24 15:55] johnnykeats commented on #195
Sure

[2020-04-24 19:29] strus38 commented on #168
Hi
Not that I need it, but since mentioned in the doc, I thought it should be
in... But I don't care :-) centos/rhel/suse are the king's in hpc world :-)

Le ven. 24 avr. 2020 à 17:02, johnnykeats <notifications@github.com> a
écrit :

[2020-04-24 19:42] johnnykeats commented on #168
Ok thanks. Since Ubuntu 20.04 is out, would worth try to add it, at least core.

[2020-04-25 22:40] actatux commented on #100
[Code is almost ready](https://github.com/actatux/bluebanquise/tree/feat/dns_server_slaves), sleeping since 2 months because I still need to test multiple icebergs.
Before going further, would this be implemented in dns_server role or in a new role advanced-dns_server?

[2020-04-26 15:12] actatux commented on #168
Both Ubuntu LTS fail with the same error: **given timezone "Europe/Paris" is not available**.

Ubuntu 18.04:
[code]

Ubuntu 20.04:
[code]

Debug in 20.04:

[code]

Fix is coming :-)

[2020-04-26 17:56] strus38 commented on #168
Yeah, Ubuntu is outputting CET instead.

Le dim. 26 avr. 2020 à 17:13, Bruno <notifications@github.com> a écrit :

[2020-04-27 09:51] #168 closed

[2020-04-27 19:34] oxedions commented on #144
Moved to general dashboard.

[2020-04-27 19:34] #144 closed

[2020-04-27 19:36] oxedions commented on #181
Moved to general dashboard.

[2020-04-27 19:36] #181 closed

[2020-04-28 14:00] vdi38 opened #198 "Text error in documentation"
Chapter 2.1.3.2 List
...
{% if my_names_list %}
the list is not empty
{% else %}
the list is empty %} <---
{% endif %}
...

[2020-04-28 14:54] oxedions commented on #198
Hello @vdi38

Thanks for this issue :-)

I will correct it as soon as possible. If you find more, please do not hesitate.

[2020-04-29 01:20] actatux commented on #182
Should we continue to implement gathering of OS vars for next release? (#173, #179)

[2020-04-29 12:53] oxedions commented on #198
`Then, create file /etc/ansible/inventory/group_vars/slave/myship.yml with the following content:`
Should be slaves

[2020-05-05 21:59] actatux opened #205 "Issue with OS variables gathering and variable precedence"
Hello,

I started to change the way to gather OS variables in roles with #173 and #179, then put the work on hold:

We currently have some variable precedence issues because of these changes.

When running a playbook with a debug task, we can see the following:
[code]
The role time fails to install the packages. `packages_to_install = bind` because it was defined in the playbook scope by include_v

[2020-05-06 08:39] johnnykeats commented on #205
Added

[code]

in ansible.cfg to prevent this issue before.

Can you check your variable?
If `include_vars` bypass this, unexpected.

[2020-05-06 14:46] actatux commented on #205
variables from roles are variables defined in role/vars/main.yml (prio 15 in the documentation). The `private_role_vars` will limit the scope of the role vars to the role, not global.
However, this parameter does not change the behaviour of `include_vars` (higher prio 18), which is expected per my understanding.

[2020-05-06 19:33] oxedions opened #207 "local_reference_data to provide two ways to gather data"
See https://github.com/bluebanquise/bluebanquise/pull/201

`local_reference_data` would allow two ways for core roles to gather data, when useful.

`facts` by default, to allow dynamicity. For standard and advanced users.
`inventory`, not default, to force inventory values. More for new users.

[2020-05-07 09:40] oxedions commented on #198
Solved ;-)

[2020-05-07 09:40] #198 closed

[2020-05-07 09:41] oxedions commented on #182
Sorry for delay. Yes we should :-)

[2020-05-07 09:42] oxedions commented on #205
We should continue with gather OS variables like in #173 and #179

Also, considering Ansible convention, yes we should prefix the variables with role names :-)

[2020-05-07 09:49] oxedions commented on #100
Sorry for delay. In core, no need to go to advanced-core. DNS can be more advanced, as /etc/hosts can do the trick for basic usage.

[2020-05-07 18:48] actatux commented on #182
For the record, I add DHCP failover in the feat req list for next release.

[2020-05-08 14:20] actatux commented on #166
Clients with external_time configuration + services_ip.time_ip in their main network:
[code]
or
[code]

Should we consider this as a bug or tell users they need to remove services_ip.time_ip from their inventory if they want to use external servers?
I would set external_time if defined, otherwise default to services_ip.time_ip.

[2020-05-08 15:03] actatux commented on #166
NTP servers' chrony.conf include the local `server 127.127.1.0`. This is a ntpd-specific configuration which is not supported in chrony. I will remove it.

Example without any pool or server in the conf:
[code]

See:
- https://chrony.tuxfamily.org/doc/2.1/manual.html#local-directive
- https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/sect-set

[2020-05-09 06:47] oxedions commented on #182
First, thanks for adding all of these into the project panel. I will also start using it.

Secondly, ok for DHCP failover mechanism. :-)

[2020-05-10 19:27] actatux commented on #182
Quick thought: wondering if we should rename role `ansible` to `bluebanquise` before the release? The purpose is to install the tools required to run bluebanquise on a management/service node, isn't it?

[2020-05-11 13:46] oxedions commented on #182
Yes it is. So it makes sense to rename it BlueBanquise indeed.

[2020-05-11 13:59] #100 closed

[2020-05-12 17:16] oxedions opened #214 "Typo issue in DNS task"
At both places, new DNS role use `management_network_naming` instead of `management_networks_naming`, so a simple missing s :-)

Example:
`    dns_master: "{{ networks[management_network_naming+'1-1'].services_ip.dns_ip }}"`

Found it when adding OpenSuse to it.

[2020-05-12 17:52] actatux commented on #214
My bad...coding late at night. ;-)

[2020-05-12 18:41] oxedions commented on #214
Coding at night is the best :laughing:

[2020-05-12 18:42] #214 closed

[2020-05-12 20:20] actatux opened #216 "conman: ''dict object'' has no attribute ''authentication''"
There is a mismatch between the role conman and the example inventories:
[code]
The template expects `hostvars[host]['equipment_profile']['authentication']['equipment_user']` and `hostvars[host]['equipment_profile']['authentication']['equipment_password']`.

In the examples inventory:
[code]

I would fix the template, I do prefer the syntax in the inventory. Any thought?

[2020-05-12 22:59] actatux opened #219 "log_server: seport requires Python's policycoreutils"
[code]
For EL8, we need to install python3-policycoreutils. See requirements in [Ansible's seport module](https://docs.ansible.com/ansible/latest/modules/seport_module.html). I will propose a PR after merge of #217.

[2020-05-14 10:56] gauthierdelerce opened #220 "dns_server multiple hosts with the same IP"
Hello,
When we generate the dns configuration, the same IP is defined for hostname and hostname-ice1-1 :
[code]
IMHO we should use a CNAME to define spartan198-ice1-1

Some tools as shine are puzzled with the IP defined used for the hostname also used for a different "A" record.

I'm testing this WA :
[code]

[2020-05-14 11:23] gauthierdelerce commented on #220
BTW, the new dns_server role requires python36-jmespath now.

[2020-05-14 13:00] actatux commented on #220
Hi @gauthierdelerce ,
The dependencies for Ansible are installed with the role core/ansible (will be renamed to core/bluebanquise soon).

[2020-05-14 13:08] actatux commented on #220
I'm thinking of a parameter `dns_server_zone_files = auto|static` for this role.
With `auto`, the zone files are created from templates.
With `static`, the zone files are copied from files, thus the admin can define the DNS zones with additional entries (CNAME, SRV, TXT, etc.). It would need a documentation of the mandatory entries (hostname, hostname-net).

[2020-05-14 19:04] oxedions commented on #220
This approach is understandable, other roles should also allow such things. I am think for example to Slurm role. Base role provides a minimum working configuration, but often local administrator is tuning slurm.conf file.
+1 on my side.

[2020-05-14 20:43] johnnykeats commented on #220
Same +1

[2020-05-14 21:08] #166 closed

[2020-05-15 12:04] gauthierdelerce commented on #220
Hi Bruno,
I'm not talking about the capability to add custom entries/parameters/forwarders/zones in the dns configuration ( which is always a good idea to ease customisation), but the fact that a bmc IP ( or the management IP on ice1 for nodes ) is defined twice:
we have 2 "A" records with the same IP

It's not clear if it's a issue, a "well known High End stack" is also defining 2 hostnames for t

[2020-05-15 13:20] actatux commented on #220
Hi Gauthier,
Yes, I understood your request. I read some RFC yesterday but did not find any rule that forbid to have several A records for a same IP address. Still searching. Note that named-checkzone return OK when testing the files.

I don't understand the issue with shine, you can map your NIDs with one of the name:
`nid_map: nodes=mds[1-2] nids=mds[1-2]-ib0@o2ib0`

It should resolve to a singl

[2020-05-15 15:24] gauthierdelerce commented on #220
Hi Bruno,
I can't find restrictions in RFC too but I don't expect to receive different answer when I lookup for the hostname associated to a IP in this situation ( HPC ). CNAME seems to be a better practise in this case.

For shine let me show you some outputs :
[code]

Shine part :
[code]
[code]

For shine, when we use -L it checks the hostname calling  hostname_short .
hostname_short uses socket

[2020-05-16 10:54] #216 closed

[2020-05-26 08:44] johnnykeats commented on #182
After long discussion yesterday, go back to previous plan: 1.3 is a quality release of 1.2. No major core modifications should have been made. What is done is done and kept. Now stabilize and clean.

1.4 will be dedicated to OpenSuse integration. No other core modifications for 1.4, as OpenSuse integrations brings enough changes.

[2020-05-26 13:21] actatux commented on #219
#230

[2020-05-26 13:21] #219 closed

[2020-05-26 13:22] actatux commented on #205
Done

[2020-05-26 13:22] #205 closed

[2020-05-26 18:45] johnnykeats opened #235 "Branchs 1.1.2 and 1.1"
What is the point of 1.1.2 branch, since stable 1.1 is present?

Does anyone use branch 1.1.2?

[2020-05-26 19:09] actatux commented on #235
@bouriquet

[2020-05-26 19:46] johnnykeats commented on #235
Ok. @bouriquet Would it be possible for you to use stable 1.1, or do you have a specific need?

[2020-05-27 23:10] bouriquet commented on #235
Hi @johnnykeats. Some backports haven't been fixed on stable 1.1 branch, 1.1.2 is ahead by 7 commits and cannot be merged easily. We are trying to switch to 1.2 or master branch as soon as possible.

[2020-05-28 00:17] actatux commented on #235
Four files were in conflict:
[code]
[code]
In #236, I removed the blank lines.

[2020-05-28 12:00] johnnykeats commented on #235
From now, 1.1.2 will be deleted within 2 weeks.

[2020-05-28 12:01] johnnykeats commented on #182
@actatux May I reuse your firewall PR, for the cleaning process?

@oxedions Can you upload your changes in OpenSuse branch?

[2020-05-28 12:26] actatux commented on #182
Not sure to understand what you want to re-use, but yes, go ahead :-).

[2020-05-28 12:29] actatux commented on #235
Can you delete branch `stable-1.1_merge1.1.2` ? I created it yesterday but cannot delete it. I should have used my fork instead.

[2020-05-28 12:40] johnnykeats commented on #182
Will add in each role (readme) optional firewall data (will rely on yours).
Allows later easy add of firewall addon.

[2020-05-28 12:58] actatux commented on #182
I'm working on a PR without any firewall role which would allow to open the requested services/ports in the default zone (public). Each role will remain isolated. The configuration will work out-of-the-box when `firewall: true`.

[2020-05-28 13:38] johnnykeats commented on #182
Please, no firewall related tasks in roles, if this is your target.

Firewall addon role must handle that, using zones and related interfaces, services, ports.

Example (not final), **at host_vars level**:

[code]

Roles must not include their main firewall related tasks.

[2020-05-28 13:43] actatux commented on #182
To configure a service for production, one must install software (package), enable/start the daemon (service), eventually add some SELinux rules (seport, seboolean, etc) and open some ports (firewall). Ansible provides modules for all these tasks.

I don't understand why the firewall should be handled differently. Can you explain please?

[2020-05-28 14:00] johnnykeats commented on #182
You got a point.

Attempted to find a simple way to manage zones, none for now.
Default (public) is ok, and zones management can be added later (keeping `| default('public')` ).

Please proceed.
Remember Centos and OpenSuse are firewalld, but not Ubuntu (ufw). Not mandatory to handle for now, but if needed please keep in mind this aspect.

[2020-05-28 14:08] johnnykeats commented on #182
Firewall is not in the list. Adding it. Urgent need?

[2020-05-28 14:18] actatux commented on #182
We need it for our solution indeed. I will try to find some time today or tomorrow to open a draft PR.

[2020-05-28 14:20] johnnykeats commented on #182
Ok, moving it to 1.3 then. Ox told me about this need. No direct impact on roles, ok for me on 1.3.

[2020-05-28 21:18] actatux opened #237 "DNS: server can't find management1: NXDOMAIN"
After a fresh deployment of management1 and login1:

[code]

No problem when specifying the DNS:
[code]

My resolv.conf:
[code]

[2020-05-28 22:08] actatux commented on #182
Firewall discussion: #238.

[2020-05-28 22:14] actatux commented on #237
https://kb.isc.org/docs/aa-00269

[2020-05-28 23:36] actatux opened #239 "Date in templates header seems wrong"
I noticed this several times but did not take time to check yet.

The date in the header "Ansible managed: modified on ..." is not the modification date of the file on-disk, but the modification date of the template:

[code]
[code]
As an admin, I am expecting the modification date of the file on-disk (template + processing).

[2020-05-28 23:46] actatux commented on #239
Note that it is impossible to get the date of the change on-disk since Ansible generates the file from template + data before comparing with the destination file.
The question here is: is it relevant to print this date in the header?

[2020-05-29 09:13] johnnykeats commented on #237
Interesting. Would need to define ACL then.
Don't use internal DNS on lab cluster, so never faced this.

[2020-05-29 09:35] johnnykeats commented on #239
See multiple exchanges on this behavior:
https://github.com/ansible/ansible/issues/5317
https://github.com/ansible/ansible/issues/17947

Some need files to always update when time stamp, other not.

On my system, header indeed keeps at first time file was generated, which could introduce dangerous misunderstanding.

Suggest this, ansible.cfg:

`ansible_managed = Ansible managed file, do not edit`

[2020-05-29 13:57] actatux commented on #239
I do agree with your suggestion.

[2020-05-29 20:09] #195 closed

[2020-06-02 01:45] actatux commented on #237
I found some time to look at this. It seems to be related to nslookup behavior which defaults to recurse. The dns_server role disable recursion in named.conf, thus the `;; Got recursion not available from 10.10.0.1, trying next server` seems legit. Because there is another nameserver in my /etc/resolv.conf (I use a copy of the example inventory which defines `external_dns.dns_client`), nslookup mo

[2020-06-02 09:02] #239 closed

[2020-06-04 08:26] gauthierdelerce opened #245 "core/dns_server missing external_hosts support"
Hello,
The role doesn't create entries for the external hosts defined in group_vars/all/general_settings/external.yml.
The readme mentions
"readme.rst:External hosts defined in *group_vars/all/general_settings/external.yml* at variable **external_hosts** will be automatically added in the dns configuration "
but there is no reference to external_hosts in the templates.

Could you re-add in the tem

[2020-06-04 12:17] actatux commented on #245
Hi Gauthier,

Can you explain your use case?
I removed the external_hosts because [it was not producing the expected result](https://github.com/bluebanquise/bluebanquise/pull/158#issuecomment-613439062).

[2020-06-04 15:23] actatux commented on #245
You may need to configure DNS forwarding on your DNS servers to resolve external domains?

[2020-06-04 15:29] gauthierdelerce commented on #245
Sure, but we also have to resolve IP which are not defined in any DNS servers.
I prefer to use /etc/hosts and dns anyway, so it's a good reason to create /etc/hosts.

[2020-06-04 16:20] actatux commented on #245
This sentence will be removed with PR #241.

[2020-06-05 07:40] #245 closed

[2020-06-06 13:35] johnnykeats commented on #235
Done. Late.

[2020-06-06 13:38] johnnykeats commented on #220
@gauthierdelerce @actatux
Is this issue solved on your side, or still open?

[2020-06-06 13:49] johnnykeats commented on #182
1 proposal, 1 survey:

1. Lets cancel core repositories and core dns. Current roles are ok.
2. Should we remove ansible.cfg file from bluebanquise, and only provide way to configure it in documentation and/or provide a script to automatically do it? This, in order to prevent issues in case of Ansible version update (new features/parts missing in our provided ansible.cfg file).

[2020-06-06 14:42] actatux commented on #182
1. OK

2. I like the way it works currently.
User does not have to mind about setting roles_path, which is internal to BlueBanquise. The ansible.cfg is installed in /etc/bluebanquise/ right now, so an update of ansible would not replace the file anyway, it would still be user responsibility.
Even if one install BB into /etc/ansible/, the content of the directory is %config(noreplace) in ansible.sp

[2020-06-06 15:00] actatux commented on #220
I did not find time to dig further.
My understanding of the issue so far is the shine tool is using reverse lookup to check if the configured IP address match the hostname. Thus, this is not an issue with multiple A records for a same IP address in the forward map, but with multiple PTR records for a same IP address in the reverse map.

This is totally legit to have several PTR records for a singl

[2020-06-08 21:00] oxedions commented on #235
@bouriquet @hmeAtos
Do you confirm deletion now ?

[2020-06-08 21:01] oxedions commented on #182
1. OK
2. Same, we will just have to ensure time to time our file is not out of sync with current versions.
3. Yes, agreed !

[2020-06-08 21:02] oxedions commented on #182
@johnnykeats I finalized the scalability tuning. As it is mandatory for my company, I will open a draft PR for it, and we will discuss about it.

[2020-06-09 07:53] hmeAtos commented on #235
@oxedions ok for me.

[2020-06-09 08:13] oxedions commented on #235
Thank you. Deleting.

[2020-06-09 08:13] #235 closed

[2020-06-18 12:35] bouriquet opened #258 "Clean repositories_client role"
**Clean repositories_client role** :
- use /etc/dnf/vars instead of /etc/yum/vars
- do not generate empty environment file when the variable is not defined

Current code (roles/repositories_client/tasks/redhat_8.yml)
[code]

Suggestion (roles/repositories_client/tasks/redhat_8.yml) :
[code]
Suggestion (roles/core/repositories_client/templates/environment.j2) :
`{{ equipment_profile.operating_syste

[2020-06-18 13:07] oxedions commented on #258
Dear @bouriquet

Thank you for this issue report.

I will have a look as soon as possible 😊

[2020-06-24 19:52] btravouillon opened #259 "FAILING TEST: core/time unit testing / ubuntu:18.04 - molecule test"
The test is constantly failing for Ubuntu 18.04: https://github.com/bluebanquise/bluebanquise/runs/804781688?check_suite_focus=true

[code]

Indeed, the package does not exist anymore. It looks like Ubuntu maintainers remove some packages when they are superseded by a new release ([which occurred last week for dbus in 18.04](https://launchpad.net/ubuntu/+source/dbus/1.12.2-1ubuntu1.1/+publishinghi

[2020-06-25 20:19] oxedions commented on #259
I think that for now, we should disable Ubuntu related molecule tests.
The stack do not officially support Ubuntu, and there was no request to support it, even if many parts are ready.

If one day, some team or company ask for Ubuntu, we will reintroduce them.

[2020-06-25 20:22] actatux commented on #259
OK. I will disable this test for 18.04 then.
I propose to keep other tests while they succeed: it would prevent any regression since Ubuntu might be in the scope later.

[2020-06-30 20:31] btravouillon opened #267 "Doc: download bluebanquise RPMS with reposync"
Idea: we could provide an example with reposync. If you're interested, I can open an issue for tracking outside of this PR.

_Originally posted by @actatux in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3NDM1OTMyMjc5/pull_request_reviews/more_threads_

[2020-06-30 20:33] actatux opened #268 "Deprecate external_repositories in the role repositories_client"
Should we deprecate external_repositories in the role?

[code]

I can open a PR for this.

_Originally posted by @actatux in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3NDM1OTMyMjc5/pull_request_reviews/more_threads_

[2020-07-01 19:33] #268 closed

[2020-07-17 12:53] gavillom opened #287 "Support secured SSL connection to connect to LDAP server in role addons/openldap_client"
Hey !

I think it would be glad to have a way to configure LDAP client to connect to a server through SSL connection.
Actually, it's not currently possible to do any configuration in the inventory to match this requirement.

Mathis

PS : nice feature also to have a way to deploy LDAP server secured with SSL :-)

[2020-07-18 13:31] oxedions commented on #287
Dear @gavillom

Thank you for this request.

I was also considering adding ssl to ldap, and an GUI: https://github.com/kakwa/ldapcherry

However, RedHat removed OnpenLDAP from all its repositories, and so did Centos and the EPEL.

So do you still confirm this need for RHEL/Centos 8+ versions, considering this ?

With my best regards

Ox

[2020-07-20 13:25] gavillom commented on #287
Well if RedHat removed support of OpenLDAP server, would be great to support configuration of SSSD with SSL LDAP server (client part only). And forget server side.

SSSD for LDAP server configuration is still supported right ?

We've implemented such needs on our side. We also have the ability to configure several LDAP server. Do you want us to create the PR ?

Mathis

[2020-07-20 14:04] oxedions commented on #287
Dear @gavillom

Yes, it would be very beneficial to other users if you accept to share your code 😊

Ox

[2020-07-21 20:41] oxedions opened #288 "Repositories client role should handle both repositories formats for Centos"
repositories_client role in core do not handle both repositories formats, aka:
[code]

In the disable distribution repositories section of the task.

[2020-07-24 19:51] johnnykeats commented on #182
@oxedions

See some missing things in the 1.3 RC1:
- A changelog
- The speed up template mechanism
- The bootset dedicated parameters

I assume you postpone the last 2 for 1.3.1 as they are already in the stack, but need to be fixed. However, we should provide a changelog for the final 1.3.0. Would make it "professional".
Not urgent of course, august should be quiet.

[2020-07-24 19:51] johnnykeats commented on #287
Dear @gavillom , Dear @oxedions

Seems done with SSSD role.

Closing.

[2020-07-24 19:51] #287 closed

[2020-07-24 22:58] actatux commented on #182
:+1:

The [version in the rpmspec](https://github.com/bluebanquise/bluebanquise/blob/2b0572ff796a133856ecd455e6d8c5b6f9dce094/resources/packaging/bluebanquise.spec#L1) would need to be updated the day of the release.

[2020-07-28 21:23] actatux opened #292 "baseurl is broken in 1.3 RC1"
I updated my testbed with tag: 1.3-rc1 and hit an error after running repositories_client role:
[code]

[2020-07-28 22:19] actatux commented on #292
With #293:
[code]

[2020-07-28 23:28] btravouillon opened #296 "disklessset does not exit gracefully when failing"
# Description

While reproducing an issue reported by a user with disklessset, I noticed the tool does not exit gracefully.
In the process, it creates and mounts a live image but does not umount it in case of failure in the process of image creation, leading to orphan files and eventually no space left in the filesystem.

# Info

OS: CentOS 8.1
Release: tag `1.3-rc1`

# Reproducer

[code]
Availabl

[2020-07-31 14:21] #292 closed

[2020-07-31 14:52] actatux commented on #259
Similar issue **test core/conman unit testing / ubuntu:20.04 - molecule test**: https://github.com/bluebanquise/bluebanquise/runs/932326901?check_suite_focus=true

I will implement @oxedions proposal and disable all the molecule tests for Ubuntu since it is not supported.

[2020-08-03 18:48] btravouillon commented on #296
It does not clean `/var/www/html/preboot_execution_environment/diskless/images/` neither, which lead to application crash when listing available images:

[code]

[2020-08-04 22:49] btravouillon opened #300 "disklessset: wrong kernel modules in initramfs"
# Description

There is an issue with the creation of the initramfs image. I installed the latest kernel from CentOS 8.1.1911 in */var/www/html/preboot_execution_environment/diskless/kernels/vmlinuz-4.18.0-147.8.1.el8_1.x86_64*, then created the initramfs and livenet images to boot my node.

After enabling the diskless boot with the new image, the boot process fails with the following:

[code]
Con

[2020-08-07 09:24] hmeAtos opened #302 "[dhcp-server] python-netaddr RPM missing"
Hello,

The role of `dhcp_server `crashes because the RPM is missing.

[code]

I saw that a commit: delete this RPM
So I propose:
- go back and re-add this RPM in the `dhcp_server `role
- indicate in the documentation that this RPM is missing and that it must be installed manually before launching the playbooks

Regards,
 @hmeAtos

[2020-08-07 16:36] btravouillon commented on #302
This package is required on the Ansible controller where the `ipaddr` filter is used, not on the dhcp server. You can configure the ansible controllers for the stack with the role `core/bluebanquise` which will install all the required dependencies for your OS.

See RHEL8 vars below as an example:
https://github.com/bluebanquise/bluebanquise/blob/737b401249a58706b281aab074e412635a2bab7c/roles/core

[2020-08-14 13:16] #302 closed

[2020-08-14 13:39] #259 closed

[2020-08-14 18:12] btravouillon commented on #300
Fixed with #305.
[code]

[2020-08-14 18:12] #300 closed

[2020-08-19 10:06] oxedions commented on #296
Hello
Very late.
A new version of the script, fully revamped, is under development. I am waiting for this version to be released to include such "auto cleaning" parts.

[2020-08-19 10:07] #258 closed

[2020-08-20 17:25] btravouillon commented on #296
With current master branch (c0fe129cf6cccce4802324dc1d7f33bbe3e7f859), a second run fails earlier with:

[code]

This prevents to create additional rootfs images and loop devices, which solves the ENOSPACE condition.

The mount point is now clearly identified:
[code]

The workaround is:
[code]

I would like to keep this ticket opened for possible fixes in 1.3.1. (at least exit gracefully instead o

[2020-08-22 03:32] btravouillon opened #328 "pxe_stack - ScannerError: while scanning a plain scalar"
## Description

Error with the YAML parser during non reg tests with EL7. It looks like the new structure of network_interfaces triggers a parsing error with MAC addresses (because of columns in the string).

[code]
## Inventory
[code]
Note the inventory is defined with block style but Ansible converts it to flow style.

## Info

BlueBanquise 1.3-RC2
CentOS Linux release 7.8.2003 (Core)
ansible 2.

[2020-08-22 04:07] btravouillon opened #329 "time - AnsibleError: template error while templating string: no test named 'gt'."
## Description

Non reg testing with EL7. The comparison `gt` (greater than) does not exist:
[code]

## Info

BlueBanquise 1.3-RC2
CentOS Linux release 7.8.2003 (Core)
ansible 2.9.10
python 2.7.5
python-jinja2 2.7.2-4

## Workaround

[code]

## Note

It highlights an issue with the CI tests which run ansible from ubuntu-latest, with Python 3.

[2020-08-22 20:35] btravouillon opened #332 "slurm - no test named 'None'"
## Description

There is a typo in the slurm.conf template:
[code]

## Inventory
[code]

## Info
BlueBanquise 1.3-RC2
CentOS Linux release 8.2.2004 (Core)
ansible 2.9.11
python 3.6.8

## Workaround

[code]

## Note

I noticed a glitch we could fix in the same PR:
[code]

[2020-08-22 20:51] btravouillon opened #333 "slurm - ep_hardware.cpu.cores is mandatory"
## Description

Slurm role fails on the controller:
[code]

There is nothing about mandatory parameters in the role readme yet.

## Inventory
[code]

## Info
BlueBanquise 1.3-RC2
CentOS Linux release 8.2.2004 (Core)
ansible 2.9.11
python 3.6.8

## Workaround

Define **ep_hardware['cpu']['cores']** in the inventory, for each equipment member of **slurm['nodes_equipment_groups']**.

## Expectation

[2020-08-22 23:39] btravouillon opened #334 "slurm - s_p_parse_file: unable to status file /etc/slurm/slurm.conf"
## Description

Jobs fail to start when running as user:
[code]

The directory /etc/slurm is created with mode 0700:
[code]

The role slurm uses the module `user` to create the slurm user and its home directory /etc/slurm. This module relies on the UMASK defined in /etc/login.defs to set permissions. It does not allow to set the permissions in the role. We might need to add a task to set the permi

[2020-08-23 04:06] btravouillon opened #335 "advanced_dns_server - variable name mismatch"
## Description

[code]

Looks like something went wrong during the move of `dns_server` to `advanced_dns_server`.
[code]
## Info
BlueBanquise 1.3-RC2
CentOS Linux release 8.2.2004 (Core)
ansible 2.9.11
python 3.6.8

[2020-08-24 12:44] #328 closed

[2020-08-24 12:45] #335 closed

[2020-08-24 12:47] oxedions commented on #296
Ok for me 🙂

[2020-08-25 14:23] oxedions opened #340 "pxe_stack - ipxe menu always display clone"
The ipxe menu from pxe_stack role always display clone entries, while sometime, some users may not need it.

[2020-08-25 14:40] #332 closed

[2020-08-25 14:40] #334 closed

[2020-08-27 14:17] sobrase opened #346 "/etc/alertmanager/alertmanager.yml "do not edit""
There is currently no way to customise /etc/alertmanager/alertmanager.yml using the ansible inventory, yet the is a do not edit line in the file, which contains default smtp values

[2020-08-28 04:03] btravouillon commented on #346
Hello @sobrase,

Thank you for reporting.
This is indeed a template managed by Ansible, one can define some values in the inventory:
https://github.com/bluebanquise/bluebanquise/blob/6dd442c228cb8657e074023edd78b573abbf7b7a/roles/addons/prometheus_server/templates/alertmanager.yml.j2#L11-L13

However, you are right, it needs additional variables. Would you be able to open a PR with a proposal? We

[2020-08-28 09:12] #329 closed

[2020-09-02 08:18] nqb opened #358 "Environment to test BlueBanquise"
Hello,

I have seen that there is a repository managed by @btravouillon:  https://github.com/btravouillon/bluebanquise-vagrant that can be used to test BlueBanquise using Vagrant.

Any plan to add it directly in BlueBlanquise official repository ?

[2020-09-02 14:47] btravouillon commented on #358
Hello @nqb,

We discussed this with @oxedions, there is a plan now. 😄
Thanks for the idea.

Did you test it already?

[2020-09-03 01:55] btravouillon commented on #358
Done: https://github.com/bluebanquise/bluebanquise-vagrant
I also commited and pushed some changes required for BlueBanquise 1.3.0.

[2020-09-03 05:31] nqb commented on #358
Thanks @btravouillon and also thanks for examples added.

[2020-09-03 05:31] #358 closed

[2020-09-03 08:55] oxedions opened #360 "pxe_stack - menu.ipxe miss the grub shell entry point"
Like for ipxe, a grub2 shell image was provided and entry is missing in the menu.ipxe (I just forgot it during devs, but image is present on the system, provided by ipxe-bluebanquise rpms).

This image was here to help sysadmin to debug system boot related issues or failing of the grub2 automated image (EFI disk boot).

[2020-09-05 11:04] oxedions commented on #182
Updated tasks for 1.4, do not hesitate to add/comment. These are idea.

[2020-09-12 21:43] btravouillon opened #366 "snmp_exporter fails to start"
## Description

The snmp_exporter.service fails to start.

[code]

The journal reports an error parsing the config file:

[code]

Indeed this file does not exist.
The role in charge of snmp_exporter installation should create the appropriate configuration file.

## Info

OS: CentOS 8.2
Branch: stable-1.3
snmp_exporter-0.18.0-1.el8.x86_64

[2020-09-13 16:14] btravouillon commented on #288
https://github.com/bluebanquise/bluebanquise/pull/285#discussion_r458366763

[2020-09-13 16:26] btravouillon commented on #288
The bug occurs when `os` repo is not a string:
[code]

[2020-09-15 18:56] btravouillon commented on #296
Also, don't just hit enter here:
[code]

[2020-09-18 07:40] strus38 opened #374 "Documentation: diskless livenet needs some fixes - minor"
URL: https://bluebanquise.com/documentation/index.html

1. Section: 11.3.3.2
ISSUE1: point 2 - instead of `cp /boot/<kernels to use for diskless nodes> /var/www/html/preboot_execution_environment/diskless/kernels/` we should put `cp /boot/<kernels to use for diskless nodes vmlinuz.XX> /var/www/html/preboot_execution_environment/diskless/kernels/`

ISSUE2: point 3 the real output is:
[code]

ISSUE3

[2020-09-18 08:18] strus38 opened #375 "[FEATURE REQUEST] Add more playbook examples in bluebanquise/resources/examples/simple_cluster/playbooks/"
It would be interesting to provide more examples in bluebanquise/resources/examples/simple_cluster/playbooks/ to speed up basic tests of addon capabilities:

[code]

[2020-09-18 13:35] oxedions commented on #366
This one is a bit tricky.
It must be generated using a dedicated tool: https://github.com/bluebanquise/bluebanquise/blob/master/resources/documentation/monitoring/snmp_exporter.rst

Maybe we could generate a "null" configuration file with the role, if and only it does not exist, then after that admin is in charge of the file (role will no more touch it if exist).
Other possibility, admin have to p

[2020-09-18 14:18] btravouillon commented on #375
Interestingly, we discussed this with @oxedions yesterday. We might re-use playbooks from https://github.com/bluebanquise/bluebanquise-vagrant/tree/master/profiles/single_iceberg/playbooks

[2020-09-19 16:40] strus38 commented on #375
Well, please try to stick to a single playbook for add-ons, but also plan
one separated for advanced dns. It would be more helpful.

Le ven. 18 sept. 2020 à 16:18, Bruno Travouillon <notifications@github.com>
a écrit :

[2020-09-21 23:36] btravouillon commented on #366
[Upstream project](https://github.com/prometheus/snmp_exporter) provides a default `snmp.yml` config file.
We can either:

1. Provide the upstream `snmp.yml` config file in the RPM (infra)
2. Provide our own `snmp.yml` config file in the RPM (infra)
3. Add a task to this role that will check if `snmp.yml` exists and fail if it doesn't, with a message similar to "_snmp.yml config file not found. Pl

[2020-09-21 23:42] #333 closed

[2020-09-21 23:43] #288 closed

[2020-09-22 12:12] btravouillon commented on #296
Bug report was fixed in 1.3.0.
The 3 bugs reported in comments are now fixed in `master` and `stable-1.3`.

[2020-09-22 12:12] #296 closed

[2020-09-22 14:10] btravouillon opened #384 "diskless image creation fails when gpgcheck is enabled in repo configuration"
## Description

The diskless image creation fails when `gpgcheck=1` in the repository configuration.

## Info

OS: CentOS 8.2
Branch: master + stable-1.3

## Reproducer

Repositories configuration:
[code]
Run disklessset to create a livenet image:
[code]

[2020-09-22 14:46] btravouillon commented on #384
This is a configuration issue. Following the advice in the error message, we must specify the gpgkey in the inventory:
[code]

[code]

With this setting, the image creation succeeds.
Might need to document it in the readme for reference.

[2020-09-24 11:52] jvillemare commented on #334
Closed without resolution? [This solution says that `slurm.conf` needs to be readable by all users](https://groups.io/g/OpenHPC-users/topic/using_slurm_with_other_user/34287187). Copied and pasted here for posterity:

[2020-09-24 12:15] btravouillon commented on #334
That's right, this is the fix I implemented.
GitHub automatically closed this with merge of #337, with a link to the commit as resolution: oxedions closed this in 0ad8955 on 25 Aug

[2020-09-25 15:09] jvillemare commented on #334
Ah! My bad, didn't see the `closed this in 0ad8955`. Thank you!

[2020-09-26 14:08] oxedions commented on #384
Thanks a lot for this. I agree, this must be documented in the new tool readme.

[2020-09-26 14:10] oxedions commented on #374
Dear @strus38

Thank you for this feedback. I will update the readme.

[2020-09-26 14:10] #360 closed

[2020-09-26 14:12] oxedions commented on #220
I am closing this issue, since everyone seems to have found a way to solve the issue, and that the issue is not coming from the stack itself.

[2020-09-28 13:43] strus38 opened #393 "Filesystem sizing should be configurable by a role (especially /var)"
Hi
It would be interesting to have a role which allows customizing the size of the filesystem on the BB host.
This is especially true for the /var which tends to be very used, and could be considered as an independent FS.
The idea would be to have a role, and a config file which would describe the expected FS and sizes for those.

[2020-09-28 13:51] strus38 commented on #393
This already exists:
ep_partitioning: |
  clearpart --all --initlabel
  part /boot --fstype=ext4 --size=1024
  part / --fstype=ext4 --size=60000
  part /home --fstype=ext4 --size=4096 --grow

[2020-09-28 13:51] #393 closed

[2020-10-02 15:21] strus38 opened #396 "Ports used in roles are not always configurable"
All ports used in roles should be variables set by default in the role to their default standard values.
Inventories should be able to overwrite those values to custom ones when needed.
The README of the role shoul dlist the port and matching service with the default value so users know what they can change.

Thanks!

[2020-10-02 15:54] btravouillon commented on #396
Indeed, it would be nice to define such parameters in `defaults/main.yml` for the roles. I would be pleased to review any PR implementing this.

[2020-10-05 09:34] strus38 opened #399 "strange character in some roles: TASK [dhcp_server : template █ Generate /etc/dhcp/dhcpd.conf]"
It seems that some role have some 'black' character. IS that on purpose? a '-' would be a better replacement, no?

[code]

[2020-10-05 10:27] strus38 opened #400 "selinux preventing the timedatectl command to success"
While testing the current master branch on a vagrant setup, I encounter this issue:

[code]
[code]
So the time role should take care of selinux.... unless this is happening for yet another reason.

Environment:
- Vagrant
- Centos8 VM
[code]
- BB master with bluebanquise-vagrant playbook
- using generic/centos8 image

[2020-10-05 12:31] btravouillon commented on #400
Can you provide additional information about the context?
What is the OS?
What does the playbook looks like?

The error seems to be on _management1_. With vagrant, this node might be created from an existing box, not installed from DVD or through kickstart. Can you share your vagrant.yml?

[2020-10-05 19:34] oxedions commented on #399
It is on purpose.

After some search, JK found that some "standard / recommendations / nice ways to do" for tasks naming is: type of module, then pipe |, then title.
Since sometime pipe is not easy to see, this Ascii character █ has been used as a replacement. Also, you can note that another character is present. The full one is for actions that do modifications on the system, while light one is f

[2020-10-05 19:36] oxedions commented on #400
https://bugzilla.redhat.com/show_bug.cgi?id=1749375 ?

[2020-10-06 06:49] strus38 commented on #399
ok, good to know.

[2020-10-06 06:49] #399 closed

[2020-10-08 14:49] btravouillon commented on #267
[code]

[2020-10-09 09:11] oxedions opened #407 "Allow additional repositories in kickstarts"
A user is asking for possibility to have automatically included equipment_profile group related repositories into the kickstart, via a dedicated entry in repositories for example.

So, for example, node install all updates available when deploying (assuming sys admin did not put all updates in the os repository).

[2020-10-12 07:21] MalloZup opened #409 "cool project!"
Bonjour guys, :)

I come across this project recently.
Let me introduce myself.

I'm one of the maintainer of the `exporter` you are using:
https://github.com/ClusterLabs/ha_cluster_exporter

So it is always cool to see one opensource project developed is getting used also from opensource projects.

I was  asking myself if you need any help or do you have any problem with the exporter that is wort

[2020-10-12 13:30] oxedions commented on #409
Dear @MalloZup

Thanks a lot ! 😊
And thank you for the ha_cluster_exporter.

Well, in fact I had a question. Let me open an issue on your git 🙂

[2020-10-12 13:38] oxedions commented on #409
https://github.com/ClusterLabs/ha_cluster_exporter/issues/177

[2020-10-13 20:37] oxedions commented on #396
Dear @strus38

Do you wish to also update other roles, or is rsyslog enough on your side ?

[2020-10-14 09:34] MalloZup commented on #409
@oxedions  I'm closing this pr . for any info or even feature requests, feel free to reach out !

bye and have fun!

[2020-10-14 09:34] #409 closed

[2020-10-14 10:07] strus38 commented on #396
I did not find any other important yet... So let's move on.

Le mar. 13 oct. 2020 à 22:37, Ox <notifications@github.com> a écrit :

[2020-10-14 11:46] #396 closed

[2020-10-14 14:04] oxedions commented on #409
Yes of course ! We will contact you if we have any needs 🙂
Same on your side.

Thanks a lot, and have fun too !

[2020-10-15 09:26] oxedions commented on #366
Stalling this until rewamp of prometheus_server/client role scheduled.

[2020-10-15 22:19] btravouillon opened #418 "ssh_master : template █ Generate /root/.ssh/config fail"
# Description

The playbook fails at task `ssh_master : template █ Generate /root/.ssh/config`:

[code]

This is a fresh deployment with bluebanquise-vagrant. I'm running ansible for the first time to configure the management node.

# Info

OS: CentOS 7.8
Branch: master

# Reproducer

My playbook:
[code]

Command:
[code]

[2020-10-16 07:10] oxedions commented on #418
Hello @btravouillon

I will have a look, due to ssh_jump feature, no doubt.

[2020-10-16 14:03] btravouillon commented on #418
Yep, I did not find time to dig further, but this might be related to this recent change. When switching to `stable-1.3`, the task completes successfully.

[2020-10-16 14:05] btravouillon commented on #418
Keep in mind CentOS 7 defaults to Python 2. It might be a compatibility issue with an old library.

[2020-10-16 15:20] gavillom opened #420 "Diskless pre_tasks are not played if using flag --tags in ansible-playbook command"
Hi,

I'm trying to customize a diskless with Ansible roles. If I just want to replay a role with --tags flag, pre_tasks that add hosts in the a group is not played.

Just adding a tag "always" to pre_tasks should fix this issue.

Mathis

[2020-10-16 15:27] gavillom opened #421 "Image ipxe file is not properly re-generated when changing kernel"
Hi,

When changing kernel associated to an image, the related ipxe file is not properly re-generated.

[code]

[code]

Kernel and initrd line are missing.

Mathis

[2020-10-16 15:37] gavillom opened #422 "[Doc] max_lease_time and default_lease_time are not used anymore"
Hi,

In documentation https://bluebanquise.com/documentation/roles.html#id16 related to dhcp_server role configuration, it's written :

"Finally, note that the following parameters can be set in the inventory (group_vars/all/general_settings/network.yml):

- default_lease_time

- max_lease_time

Consider increasing the default values once your network is production ready."

While these variables a

[2020-10-16 15:53] btravouillon commented on #422
Indeed, both are documented with the correct name in https://bluebanquise.com/documentation/roles.html#id17.

Should we remove this section (redundant with Input / Optional inventory vars) or update the name of the variables?

[2020-10-16 15:54] btravouillon commented on #422
Also note that these are documented in role **dhcp_server** but not in **advanced_dhcp_server**.

[2020-10-16 15:56] btravouillon commented on #420
Is it a role shipped with BlueBanquise? If so, which one?

[2020-10-16 15:56] gavillom commented on #422
Yes we can remove. Not sure it's really important to keep it, while it's documented below.

[2020-10-16 15:57] gavillom commented on #422
I think it would be great to document variable (which seems to be different then dhcp_server).

[2020-10-16 15:58] gavillom commented on #420
Sorry, my ticket is not so clear.

Playbook example given here : https://bluebanquise.com/documentation/roles/addons/diskless/readme.html#customizing-livenet-image

[2020-10-16 16:02] btravouillon commented on #420
OK. The playbook snippet is an example, you can add any tag you want to the pre_task.
Indeed, if you want to run a given playbook with --tags and execute the pre_task, you will have to add a tag as well. This is pure Ansible.

What do you expect from us?

[2020-10-19 07:01] gavillom commented on #420
Just adding tag: always in the example of the documentation.
I think that would help some users.

[2020-10-19 09:45] oxedions commented on #420
We need to add this tag, as the equipment_profile group is mandatory for this playbook to run properly. I will do the PR. 🙂

[2020-10-19 09:51] gavillom commented on #420
Another comment on this part of documentation. This playbook is not generic : diskless image path is hard-coded.
Would propose something like this (take a look at hosts line) :

[code]

and in the ansible-playbook command : add -e "img_name=<my_image_name>"

What do you think about it ?

[2020-10-19 09:52] oxedions commented on #418
I fail to reproduce it on Centos 8. Will investigate on Centos 7.
Did you used the example inventories ?

[2020-10-19 12:43] #421 closed

[2020-10-19 13:01] btravouillon commented on #418
I used this inventory: https://github.com/bluebanquise/bluebanquise-vagrant/tree/master/profiles/single_iceberg

Indeed this is a bug with CentOS 7.

[2020-10-19 13:20] btravouillon commented on #418
Faulty code block:
[code]
Support of namespace objects (`ssh_jump_target.value`) was added to Jinja2 2.10.

CentOS 7.8 ships Jinja2 2.7.2:
[code]

[2020-10-19 14:31] oxedions commented on #418
Ok I will use the old trick to achieve that 😊

[2020-10-19 16:23] btravouillon commented on #374
The kernel file names all start with `vmlinuz-`, we can consider `cp /boot/vmlinuz-<kernel release to use for diskless nodes> /dest/`.

Indeed, still true.

The readme has been modified since, the HTML documentation needs an update.

[2020-10-19 18:59] #374 closed

[2020-10-19 18:59] #420 closed

[2020-10-20 11:29] osmocl opened #429 "Missing packages slurm_exporter and ha_cluster_exporter in repositories"
The package `slurm_exporter` and `ha_cluster_exporter` described in `roles/addons/prometheus_client/readme.rst` are missing in bluebanquise repositories: [https://bluebanquise.com/repository/releases/1.3/el8/x86_64/bluebanquise/](https://bluebanquise.com/repository/releases/1.3/el8/x86_64/bluebanquise/)

[code]

[2020-10-20 11:57] btravouillon commented on #429
The BlueBanquise project does not ship ha_exporter. We may remove this from the README example, while I find it interesting to demonstrate the role prometheus_client is expandable.

@oxedions: do you plan to provide slurm_exporter? If so, we might move this ticket to bluebanquise-infrastructure.

[2020-10-20 19:30] oxedions commented on #429
Hello.

The slurm_exporter is pretty complex to build. In the short term, I do not have the bandwidth to add it 🙁
But Yes, I intend to release this one with the others.

The ha_exporter is indeed not in the scope of the stack, but can be easily added into an RPM as the team provides AMD64 binaries.

[2020-10-20 19:51] btravouillon commented on #429
Should we update the documentation to remove those examples? Or add a sentence to explain it's up to the user/admin to build and install these exporters? Or let it like that?

[2020-10-21 14:48] oxedions commented on #429
I would like to keep them in the main documentation. But yes, I will add sentences to explain that these are not provided by us.

[2020-10-22 14:52] oxedions commented on #422
In the advanced dhcp server, readme:
`
Please read first documentation of the standard dhcp server role. Advanced dhcp server provides sames features than standard dhcp server role, but with more options.`

So I do not think we need to document it in the advanced dhcp server.

[2020-10-22 14:55] oxedions commented on #422
Please check https://github.com/bluebanquise/bluebanquise/pull/441

[2020-10-22 14:57] oxedions commented on #400
Ping. @strus38 Do you have more data about this issue ? 🙂

[2020-10-22 15:14] strus38 commented on #400
Well, it was a simple install with selinux enabled. I was using vagrant to
spin the VMs.
So nothing really special. I don't have time to recreate now, so close it
if you want and I will reopen when I have more time to look into it.

Le jeu. 22 oct. 2020 à 16:57, Ox <notifications@github.com> a écrit :

[2020-10-22 18:34] oxedions commented on #400
Still, I wish to have a look on this. I will check something tomorrow morning. If nothing relevant, I will let it close.

[2020-10-22 18:40] oxedions commented on #429
Closing, since PR is done.

[2020-10-22 18:40] #429 closed

[2020-10-28 09:58] oxedions commented on #400
Notified issue is still here. Will investigate asap.

[2020-10-28 19:58] oxedions opened #452 "[Icebergs] DNS mechanism need review"
DNS mechanism need a small review, at least on documentation side, as a management of a slave mirror is currently client of himself.

[2020-10-28 21:07] strus38 commented on #400
management1 is created from box "generic/centos8"
[code]
playbook is the one from the examples as described in the BB doc.
inventory variables are not touched.

vagrant.yml
[code]

[2020-10-29 10:29] oxedions commented on #400
Thanks a lot for the information 🙂

[2020-10-30 10:51] gauthierdelerce commented on #220
Hi,
Could you please consider to re-open this issue :
I'm configuring a IDM and from redhat manual we have :
[code]

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/installing_identity_management/preparing-the-system-for-ipa-server-installation_installing-identity-management

[2020-10-30 14:04] andriimua opened #455 "repositories_client role idempotency"
Hi all,

if you want to remove or rename previously created repository it won't remove it on the clients side.

for example, it can be implemented with additinal task  _remove_repositories_ using variable like _repositories_to_remove:_ that can contain list of repositories that should be removed.

[2020-10-30 18:11] andriimua commented on #455
in case of **state** parameter it will delete every repository that weer created manually.

in some cases it could be a problem.

[2020-10-30 22:14] btravouillon commented on #455
Can you test #458?
It will only ensure repositories defined with `state: absent` do not exist. It should not delete any repository created manually.

[2020-10-30 23:06] btravouillon commented on #400
I can't reproduce:
[code]

My vagrant.yml:
[code]

I will give a try with `vm_box: "generic/centos8"`.

[2020-10-31 00:06] btravouillon commented on #400
The SELinux context of /etc/localtime is incorrect in your box generic/centos8:
[code]

With the official CentOS image (`vm_box: "centos/8.2.2004"`):
[code]

Command to install the box centos/8.2.2004 in my env: ` $ vagrant box add --name centos/8.2.2004 --provider libvirt http://cloud.centos.org/centos/8/vagrant/x86_64/images/CentOS-8-Vagrant-8.2.2004-20200611.2.x86_64.vagrant-libvirt.box`

For t

[2020-10-31 00:06] #400 closed

[2020-10-31 00:13] btravouillon commented on #220
@oxedions , @johnnykeats I can work on a solution for the advanced dns server role, but I don't want to waste time. Are the multiple PTR records for a single IP address an informed choice in the stack?

[2020-10-31 20:09] oxedions commented on #220
Dear @btravouillon
Lets have a direct chat Monday about this, I do not want to wast your time either.

[2020-11-02 08:05] andriimua commented on #455
@btravouillon sorry, it was misunderstanding from my side, I supposed that we were discussing `state: present` :)

[2020-11-03 14:12] btravouillon commented on #455
No problem. Since #458 merged to master, I guess we can close this feature request?

[2020-11-03 16:09] oxedions commented on #455
Ok on my side 🙂
This is perfect.

[2020-11-03 20:45] btravouillon commented on #422
Is there any topic left to address in this ticket?

[2020-11-06 12:35] oxedions commented on #422
I think not. I will close it for now, and we can reopen if needed.

[2020-11-06 12:35] #422 closed

[2020-11-06 12:35] #455 closed

[2020-11-07 16:07] strus38 opened #465 "centos8 openldap_server role - does not work and will not."
Hi

Using master branch of bluebanquise.
Installed the management1 following the doc, then trying to deploy the openldap_server role.
Issue:
[code]
From what I have read so far, it will never work on centos8 since openldap-servers does not seem to be disctributed anymore and for sure phpldapadmin does not exist as RPM on centos8.

So I suggest to fix the role by adding a task to check the OS and s

[2020-11-09 07:25] DilasserT opened #466 "Log_client: use ansible to set rsyslog default verbosity"
Would it be appropriate to have ansible set the default verbosity in the log_client ?

Something like this:

`*.{{ log_client_verbosity }};mail.none;authpriv.none;cron.none                /var/log/messages`

instead of:

`*.info;mail.none;authpriv.none;cron.none                /var/log/messages`

[2020-11-09 19:33] oxedions commented on #466
Dear @DilasserT

Thank you for this issue.

You are right, it would be interesting to add this feature.

Would you accept to do the Pull Request ? This is not a major change.

1. You can add the `log_client_verbosity` variable in defaults of the role, and set it to info.
2. Add possibles values in the readme.
3. Increase the role version number (readme and vars).
4. Add a new entry in the main CHA

[2020-11-09 19:36] oxedions commented on #465
Dear @strus38

Yes, this role was made during RHEL 7. You are right, thank you for notifying that 🙂

It is still possible to find openldap rpms from external repositories, so I kept this role, but it would need some revamp to explain how to obtain them in the readme.

I was thinking adding IDM how to in the main documentation, since RedHat already provides all needed roles.

I will let this issue

[2020-11-09 19:52] strus38 commented on #465
I didn't even find any other repo having it!
Seems like no one wants to do it anymore 🤣

Le lun. 9 nov. 2020 à 20:37, Ox <notifications@github.com> a écrit :

[2020-11-09 19:58] oxedions commented on #465
You are right. All examples I find are build from sources. Strange no one added rpms into a repository 😐
I never tried to build them, using rpmbuild. Did you try it ?

[2020-11-09 20:06] strus38 commented on #465
Nope, not yet, but I could give it a try. The next thing could be to maso
add the needed ldif files to easily deploy a test env. I  will check since
I need it for kerberos anyway.

Le lun. 9 nov. 2020 à 20:58, Ox <notifications@github.com> a écrit :

[2020-11-09 20:11] oxedions commented on #465
Ok, do not hesitate to keep me posted. I will have a look on my side either ;-)

[2020-11-09 20:15] strus38 commented on #465
I will have a look tomorrow... Not tonight ;-(

Le lun. 9 nov. 2020 à 21:11, Ox <notifications@github.com> a écrit :

[2020-11-10 07:17] DilasserT commented on #466
Ok ! I'm working on it.

[2020-11-10 08:02] strus38 commented on #465
Ok, it seems like there is someone already doing it: https://ltb-project.org/documentation/openldap-rpm#yum_repository
So, I will try with that...
So in such case only the phpldapadmin part will be needed.

[2020-11-10 12:58] osmocl opened #467 "conman and log_server: Idempotency issues"
Description
-------------

Hello guys, while running automatic tests using kitchen, we have found two idempotency issues in a management node.
Second running is always changed for the following two tasks:

log_server role fail in : `task 'Create /var/log/rsyslog directory'`
conman role fail in : `task 'Create /var/log/conman directory'`

Info
----
OS: RHEL8.2
Branch: master

Reproducer
-----------

[2020-11-10 13:59] btravouillon commented on #467
I guess the `recurse` is useful to ensure the SELinux context on the files is correct. This is necessary in a use case where a user would enable SELinux after the initial deployment. However, this collapses with the `mode`. A proper fix would be to ensure files' mode is 0400, not 0750.

[2020-11-10 14:03] btravouillon commented on #465
We should limit this role to RHEL7 only. Any solution with enterprise support will need the RPM from the OS vendor.

[2020-11-10 17:23] strus38 commented on #465
Agree, and the idm role from red hat is very good.

Le mar. 10 nov. 2020 à 15:03, Bruno Travouillon <notifications@github.com>
a écrit :

[2020-11-12 15:14] oxedions commented on #465
Would this be enough for both of you ?
https://github.com/bluebanquise/bluebanquise/pull/471

[2020-11-12 15:29] strus38 commented on #465
For me we need:
- Free IPA (idm) solution to be updated to match BB (since not Working out
of the box)
- a solution for ldpa mgt GUI.

And so, yes we should limit the existing code on rhel7.

Le jeu. 12 nov. 2020 à 16:14, Ox <notifications@github.com> a écrit :

[2020-11-12 16:09] oxedions commented on #465
Ok.
This is another topic, which need to be discussed.
I am closing this issue since the associated PR is merged. 🙂

[2020-11-12 16:09] #465 closed

[2020-11-12 16:10] oxedions commented on #182
I am closing this issue, since we now have projects and discussions enabled.

[2020-11-12 16:10] #182 closed

[2020-11-12 16:10] #207 closed

[2020-11-12 16:10] #340 closed

[2020-11-13 16:39] oxedions commented on #466
I am closing this issue this PR has been merged. Thanks a lot for this contribution 🙂

[2020-11-13 16:39] #466 closed

[2020-11-16 10:35] Judunet opened #482 "[Multi-iceberg] Bug with pxe_stack role"
Hi,

I have a problem when i want to deploy multi-iceberg with the pxe_stack role.
I have configured like in documentation a nfs share for /etc/bluebanquise but when i want to deploy new node in iceberg2 (for example) it will delete the iceberg3 configuration.

May be a solution to resolve that is to move the pxe directory from /etc/bluebanquise.

Regards

[2020-11-16 16:20] oxedions commented on #482
Dear @Judunet

Indeed, this is a bug in the design. I will think about that point, but clearly, the pxe folder should go somewhere else. It is probably time to create dedicated /etc folders for each tool (bootset and disklessset).

[2020-11-16 19:41] oxedions commented on #482
see related #484

[2020-11-18 13:53] DilasserT opened #488 "log_client: allow more detailed rsyslog rules configuration"
Hello,

It would be nice to have more flexibility with the rsyslog configuration. For example, I would like to change the forwarding rule:

`
*.* @@{{networks[j2_node_main_network]['services_ip']['log_ip']}}:{{ log_client_server_port }}
`
to
`
*.notice;kern.debug @@{{networks[j2_node_main_network]['services_ip']['log_ip']}}:{{ log_client_server_port }}
`

It can also be applied to the RULES sectio

[2020-11-18 15:09] btravouillon commented on #488
I do agree.
Any user configuration must be kept in the user's inventory, so we need to find a way to override default templates with data from the inventory. This was done recently for [the new nhc role](https://github.com/bluebanquise/bluebanquise/pull/448#discussion_r520661613).

[2020-11-19 13:42] oxedions opened #489 "Nmcli need a patch"
Related to https://github.com/ansible-collections/community.general/pull/1260

We need this, to simplify the nmcli role. This issue is a reminder for this external PR.

[2020-11-20 09:52] DilasserT commented on #488
About the default templates, would it be interesting to have that division ?
/etc
├── rsyslog.conf -> global rules
└── rsyslog.d
        ├── local-rules.conf -> node level rules
        └── forwarding-rules.conf -> forwarding rules

I am asking this because in my case, I would like to overwrite the forwarding rule while keeping the other configuration.

[2020-11-20 13:56] btravouillon commented on #488
I think so. How would you implement it in an ansible task?

[2020-11-20 14:14] DilasserT commented on #488
If I understand it correctly, in the nhc role there is an empty array for additional configuration files, a similar task can be implemented in log_client but with an array containing those files.

[2020-11-20 15:34] btravouillon commented on #488
Well, the issue with the implementation in the nhc role is that the custom files must be installed in the role directory, which is not in the scope of the user inventory: this will split the configuration reference between inventory and roles.

We could implement the code below:

[code]

[code]

[code]

Usage in inventory (example for the group mg_managements):
[code]

Which would produce:
[code]

[2020-11-24 07:11] DilasserT commented on #488
It looks good to me! I can't seem to find another solution as clear and appropriate.

[2020-11-24 13:57] oxedions commented on #488
Hello.

I also like this solution. I will adapt the NHC role to this.

[2020-11-24 15:48] gauthierdelerce opened #491 "firewall role help needed"
Hello,
I'm using the firewall to secure the external acces to login nodes.
I followed the instructions without success and need your help to understand what I did wrong.

My goal is to allow only ssh connection through a specific interface.
I added the firewall definition to the network in the inventory :
[code]

and a firewall defintion :
[code]

A zone named backbone can not be used, therefore I

[2020-11-24 17:04] #491 closed

[2020-11-25 08:23] DilasserT commented on #488
@btravouillon Are you planning to do a PR for this ? I can help if you do not have time.

[2020-11-25 13:28] btravouillon commented on #488
@DilasserT Go ahead and open a PR if possible. Thanks.

[2020-11-25 16:27] gavillom opened #493 "Security issue in conman role"
Hi guys,

Through conman role, /etc/conman.conf is created in read mode for all users. That's to say users of a cluster can access to BMC credentials and manage server power control.

I think it would be better to change file rights to 600.

I can propose a PR for this.

Mathis

[2020-11-25 16:32] btravouillon commented on #493
Indeed, default perms in the RPM are:
[code]

Waiting for your PR 😀

[2020-11-26 11:30] ginomcevoy opened #495 "Diskless nodes and firewall"
Diskless nodes created using the diskless role will have the firewall running by default. This can cause connectivity issues to services listening in compute nodes, that can only be reverted if disabling the firewall during image creation, or by running the "firewall" role or disabling it manually.

An initial mitigation can be to mention the firewall issue in the README of the diskless role.

[2020-11-26 13:48] gavillom commented on #493
#496

[2020-11-26 14:41] btravouillon commented on #488
I wonder if a better approach could be a single variable:

[code]

The task:
[code]

The template:
[code]

It would remove the burden of file name that must respect Ansible variable naming rule (no dot, no dash, ...).

[2020-11-26 17:54] oxedions commented on #495
Dear @ginomcevoy

Thanks a lot for this new issue.

I am wondering if, like for SELinux, we should not include that in the disklessset tool, with an entry like:

" Would you like to enable firewall inside image? (yes/no (default))"

Would that be ok for you ?

[2020-11-26 18:07] oxedions commented on #488
Jeez ! I like this one !
Clean, and everything is concentrated in a single place. 👍 I would go for that.

[2020-11-26 21:37] btravouillon commented on #488
See #497 for NHC.

[2020-11-27 01:52] ginomcevoy commented on #495
I think this would be a good idea, same treatment as for SELinux.

Not sure how to best implement the feature in disklessset tool, but here is a suggestion. When the service is removed manually in a livenet image, these files are deleted:

[code]
So maybe deleting these two files from installroot while it is mounted is the way to go.

[2020-11-27 04:15] btravouillon commented on #495
We had to do this for SELinux because we had no other way to restore the context of the files from the root filesystem.

For firewall, adding `ep_firewall: false` and the role `firewall` to the [customization playbook](https://bluebanquise.com/documentation/roles.html#customizing-livenet-image) is enough. We can add a note in the readme, but I don't think it worth to add a new interactive configur

[2020-11-27 09:41] oxedions opened #500 "Investigate syncthing to replace nfs in MI context"
It would worth to investigate Syncthing to replace NFS in MI context (repositories and inventory), but also for other purposes (HA aware tools, etc).

Link to the github: https://github.com/syncthing/

[2020-11-27 09:45] oxedions commented on #495
+1, I didn't remembered there was also the firewall service management in the `firewall` role. Then only to be documented.
@ginomcevoy Would you accept to do a PR to document that point ? 🙂

[2020-11-27 12:58] ginomcevoy commented on #495
OK! I will create a PR later today.

[2020-11-27 20:03] oxedions commented on #495
Thanks a lot 🙂 !

[2020-11-30 12:55] oxedions commented on #495
PR is merged, closing this issue. Thanks a lot !

[2020-11-30 12:55] #495 closed

[2020-12-10 15:12] btravouillon commented on #467
I forgot about this bug report. 😯
The `mode: 0750` was added in d70ad62 to comply with a [new rule](https://ansible-lint.readthedocs.io/en/latest/default_rules.html#file-permissions-unset-or-incorrect) introduced in ansible-lint recently. This was a bad move, my bad. In #496, I removed the `mode` and added the `# noqa 208` to skip the test for this specific task.
I will open a PR for log_server to

[2020-12-10 15:38] btravouillon commented on #467
I revert the change in #496, I change both roles in #506 instead, which will be easier to backport to stable-1.3.

[2020-12-12 20:17] #467 closed

[2020-12-15 13:44] SckyzO opened #507 "Use privilege escalation: become"
For security reasons it would be better to use privilege escalation: **become** rather than running playbooks as root

[2020-12-16 21:20] btravouillon commented on #507
Hello @SckyzO ,

Thank you for your comment. The purpose of the stack is to provide Ansible roles. There are some examples of playbooks to help with the initial setup of a cluster of hosts, but we cannot cover all the use cases, nor the wide range of Ansible configuration, thus we use the easiest way to run playbooks to configure systems. Each sysadmin has to leverage to possibilities of Ansible t

[2020-12-16 21:20] #507 closed

[2020-12-19 18:07] btravouillon commented on #488
Fixed in #494

[2020-12-19 18:07] #488 closed

[2020-12-19 18:10] btravouillon commented on #489
https://github.com/ansible-collections/community.general/pull/1260 and https://github.com/ansible-collections/community.general/pull/1426 merged.
#504 uses these new features of the module nmcli.

[2020-12-19 18:10] #489 closed

[2020-12-21 13:41] SckyzO opened #513 "Add DEFROUTE options in NIC role"
Assume that we have four network cards, with multiple network, we have provided IP,subnet and gateway in all network card. Now system uses all cards to reach the destination.

When you put "DEFROUTE=yes" on one card then system always use card one on priority to reach every destination.

`more roles/core/nic/templates/ifcfg.j2`
[code]

Example inventory
[code]

[2020-12-26 11:54] oxedions commented on #513
Dear @SckyzO

NIC role is to be discontinuated. Please see this PR for new NIC role, now based on NMCLI module:

https://github.com/bluebanquise/bluebanquise/pull/504/files

Would that answer your need ?

[2021-01-13 14:36] osmocl opened #515 "Wrong dhcp configuration for equipments with opt61"
**Description**

Hello guys, the advanced dhcp role is adding the `filename` configuration for all the equipments with opt61.

See here a wrong configuration for a switch.
[code]

I believe that the `filename` option should be present only for servers.

**Info**

Branch: stable-1.3
OS: rhel8.2

[2021-01-20 16:30] #493 closed

[2021-01-21 08:14] oxedions commented on #515
Dear @osmocl

Thank you for rising this issue.

Indeed, the role should not provide a filename if hosts is not with an equipment_profile of type server.

Would you accept to do a PR on master branch for core/dhcp_server and adv_core/adv_dhcp_server ? 🙂

[2021-01-26 20:17] oxedions commented on #513
Dear @SckyzO

A small ping, if no answers, I will need to close this issue 🙂

[2021-01-26 20:18] #500 closed

[2021-01-26 20:18] oxedions commented on #482
Solved.

[2021-01-26 20:18] #482 closed

[2021-01-26 20:19] oxedions commented on #418
ssh_jump will be removed in next version.

[2021-01-27 08:10] SckyzO commented on #513
You can close it is ok thx

[2021-01-27 14:10] oxedions commented on #513
Thanks a lot !

Have a nice end of week 😉

[2021-01-27 14:10] #513 closed

[2021-02-04 15:24] ginomcevoy opened #521 "Cannot login or SSH after booting a livenet image with SELinux disabled"
After creating a livenet image with SELinux disabled (Activate SELinux = no in disklessset), the image boots but cannot login.
SSH fails and logging in via the console prompt fails without error (it prompts for login again).

Reviewing the console shows these kernel parameters:
[code]

Manually setting `selinux=0` instead of `selinux=False` in
`/var/www/html/preboot_execution_environment/diskless/

[2021-02-04 17:51] oxedions commented on #521
Dear @ginomcevoy

Thanks a lot for rising this issue 🙂

Would you accept to do a PR to fix the disklessset tool ?

Ox

[2021-02-05 00:59] ginomcevoy opened #523 "sudo fails for diskless nodes with livenet image"
sudo fails on nodes booting a livenet image:

[code]

Inspection of the squashfs image shows that the setuid 's' attribute is missing:

[code]

Fix:
During image creation, the contents are copied using `cp -r` instead of `cp -a`, the fix is to correct the cp flag. I will propose a PR shortly.

[2021-02-05 01:18] ginomcevoy opened #524 "Customization of livenet image using playbook with connection chroot fails to match host"
When customizing a livenet image, the manual describes how to run a playbook using `connection: chroot` and the following hosts line:

[code]

This worked for the diskless manager in BlueBanquise release 1.3. However, for the new diskless manager, this fails to match the host:

[code]

This happens because a "/" has been added to the inventory file:

[code]

A PR will be proposed shortly to remove

[2021-02-05 21:56] oxedions commented on #524
Dear @ginomcevoy

Thanks a lot for rising this issue, and for the associated PR 🙂

[2021-02-05 21:57] oxedions commented on #523
Dear @ginomcevoy

Thanks a lot for rising this issue, and for the associated PR 🙂

[2021-02-06 17:28] oxedions commented on #515
This issue is tranfered to new repository.

[2021-02-06 17:28] #515 closed

[2021-02-06 17:28] #452 closed

[2021-02-08 15:30] pietersdavid opened #528 "diskless tool: dnf command "release version" argument stuck with selinux livenet images"
After testing the diskless tool with selinux i have discovered an issue with selinux.

When trying to create a livenet image with **selinux** and  **a release version** the dnf command is not working.

For exemple:

`DEBUG:dnf install dnf yum iproute procps-ng openssh-server NetworkManager selinux-policy-targeted selinux-policy-devel policycoreutils--releasever=8 -y --installroot=/var/tmp/diskless

[2021-02-11 09:24] oxedions commented on #521
Closing since PR is merged.

[2021-02-11 09:24] #521 closed

[2021-02-11 09:24] oxedions commented on #524
Closing since PR is merged.

[2021-02-11 09:24] #524 closed

[2021-02-11 09:24] oxedions commented on #523
Closing since PR is merged.

[2021-02-11 09:24] #523 closed

[2021-02-24 10:07] jpm38 opened #532 "roles pxe_stack and time is broken when using the skip-tags option"
There is a bug in bluebanquise roles pxe_stack and time.

pxe_stack/tasks/main.yml:

name: include_vars ░ Gather OS specific variables
include_vars: "{{ item }}"
with_first_found:

files:
"vars/{{ ansible_facts.distribution | replace(' ','') }}{{ ansible_facts.distribution_major_version }}.yml"
"vars/{{ ansible_facts.os_family }}_{{ ansible_facts.distribution_major_version }}.yml"
"vars/{{ ansible

[2021-02-24 13:47] gavillom opened #534 "Distro repositories are not properly disabled on new version of Centos"
Hi guys,

It feels like Centos 8 repositories are not properly disabled (with repositories_client_disable_distro_repos: true) with recent version of Centos.

It feels like repositories definition file name have been changed.

[code]

By default, _repositories_client_ role tries to remove a file named /etc/yum.repos.d/CentOS-Extras.repo (which is different than CentOS-Linux-Extras.repo).

Also Base

[2021-02-24 14:17] btravouillon commented on #534
Indeed, files were renamed: https://git.centos.org/rpms/centos-repos/c/b759b17557b9577e8ea156740af0249ab1a22d70?branch=c8

If you open a PR, it would be nice to make the code backward compatible with CentOS < 8.3.

[2021-02-24 15:13] btravouillon commented on #532
Can you test with #535 and provide feedback?

[2021-03-08 16:27] yhenriet opened #537 "hostkey_checking is global"
Hello,
It seems that the hostkey settings is set globaly for every host
from inventory/group_vars/all/general_settings/security.yml:
[code]

We can add the var to the host , but the role ssh_master is not using it in this way :

From roles/core/ssh_master/templates/config.j2 :

[code]
So we can't only define the host check for only one host for example .

But may be we are thinking wrong :)

[2021-03-09 05:11] btravouillon commented on #537
Hi @yhenriet ,

Would the change at https://github.com/bluebanquise/bluebanquise/compare/master...btravouillon:fix/537 address your need?

[2021-03-09 10:42] oxedions commented on #537
It should work:

[code]

Will apply to hosts that you desire to exclude from the global configuration, while the last part:

[code]

only apply to all hosts that do not have these parameters set. I just do not know if ssh when reading this file will precedence `Host myhost` parameters over `Host *`. I assume @btravouillon already tested and validated it.

[2021-03-10 01:41] btravouillon commented on #534
CentOS made the change to prepare and ease the migration to Stream: https://wiki.centos.org/Manuals/ReleaseNotes/CentOS8.2011#Yum_repo_file_and_repoid_changes

[2021-03-10 04:27] btravouillon commented on #537
What message are you trying to avoid?
Note that for production system, `StrictHostKeyChecking` should never be set to `no`.

`security.ssh.hostkey_checking` is indeed a parameter of the target host where the role `ssh_master` run, to enable or disable host key checking for all hosts configured in `~/.ssh/config` of the target host. We won't change the behavior, this would introduce a breaking chan

[2021-03-18 09:55] oxedions commented on #532
Would this solve this issue ?

In each task, include vars has tags:
[code]

And nothing else.

So if you need to play for example packages only, you use `internal,package`, or if you wish to restrict to this role only, `role_name_internal,package`.

?

[2021-03-18 11:57] btravouillon commented on #532
Exposing a tag named `internal` to end-users is unexpected.

àla Puppet tags:
[code]

Anyway I still believe tag `always` do the job for this task which has to be run when called from a playbook. Split your playbooks if you want to replay a subset of roles on a regular basis.

[2021-03-19 10:24] oxedions commented on #532
I know.

But I still do not like this. I prefer the way it is today rather than using an always tag.

The only solution I found was to make variables "implicit" by using Jinja code (https://github.com/bluebanquise/bluebanquise/commit/3a06586c319da15f77df48fc02f0a29abf42fd61)

[2021-03-30 19:36] oxedions commented on #532
Dear @jpm38
Could you check please that your issue is solved with current master ?

[2021-04-02 16:03] btravouillon commented on #537
Hello @yhenriet ,

Were you able to test the code proposal?
Should I open a PR with this change?

[2021-04-02 20:10] #532 closed

[2021-04-02 20:23] oxedions commented on #528
Solved. Closing.

[2021-04-02 20:23] #528 closed

[2021-04-02 20:24] #407 closed

[2021-04-07 07:28] MarbolanGos opened #548 "powerman: when there is more than 300 equipments in a group the service cannot start"
Hello,

In my case, I have a group containing all computes of my system (> 1000) and when this is generates the `/etc/powerman/powerman.conf` file, the server fails to start:
[code]

After looking for the reason, it seems that if a line contains more than 300 nodes the server core dumps. What I have done is to split the group depending on the number of nodes within one rack:
[code]

Is it possible

[2021-04-08 20:55] btravouillon commented on #548
Hi @MarbolanGos ,

Could you give a try to patch proposal in #549?
There is a new filter plugin which call ClusterShell.NodeSet to create a nodeset from a list of nodes. You need to install the python clustershell package on your Ansible Controller to make this work.

The powerman.conf file should look like:
[code]

[2021-04-09 08:24] MarbolanGos commented on #548
Bruno, thank you for this patch. It worked perfectly! If patch is imported this issue is closed!

[2021-04-09 11:59] btravouillon commented on #548
Let's keep it open until a fix merges.

[2021-04-27 06:43] MarbolanGos opened #553 "time: modifying the network which is allowed for the server"
Hello,

In a customer case, I had to modify a little bit the time role in order to be able to address more networks/subnets than the one derived in the role as the networks are not in the default nics but are routed to my management node.

Here is the modification I have done:
[code]

In the playbook I have added:
[code]

Maybe this is not the best way to deal with it but it does the job.

[2021-04-27 11:55] MarbolanGos commented on #553
Sorry, I have seen an issue with my patch. Here is an update:
[code]

[2021-04-28 07:08] MarbolanGos opened #557 "ssh_master: host key mismatch log level"
Hello,

In the case of diskless nodes, after every reboot, the `known_hosts` file is incorrect thus when logging in the node, there are some warning displays. This can be disturbing to get for each node such a warning.

In order to fix this, I have added this:
[code]

What I wanted at the beggining was to be able to have security checkups still being active when being on a diskfull node and removi

[2021-04-29 09:17] MarbolanGos commented on #537
This is like the comment I have done here: https://github.com/bluebanquise/bluebanquise/issues/557

I will see if I can patch what @btravouillon offered.

[2021-04-29 13:02] btravouillon commented on #537
Please let me know if it is of interest and I will open a PR.

[2021-06-01 12:33] oxedions opened #564 "Missing absolute path in conman template"
Absoulute path for ipmitool.exp is not mentioned in the template conman.conf.j2

The ipmitool.exp can’t be found without the absolute path /usr/share/conman/exec/ipmitool.exp

[2021-06-02 12:45] #553 closed

[2021-06-23 08:41] oxedions opened #567 "MI - SELinux boolean needed for HTTP over NFS export"
Need

`setsebool httpd_use_nfs on # this works`

To make http work on sub managements.

[2021-07-14 16:58] strus38 opened #580 "BB [master] - Few issues while testing bluebanquise/bluebanquise"
Hi @oxedions

Noticed the following issues (mix of Bluebanquise and Community issues) ... for screening.

Environment:

- Vagrant (latest)
![image](https://user-images.githubusercontent.com/5890515/125662313-2e30bfbe-02c0-4e04-ab10-68ec16fc259f.png)

- BB/Community (clone of master of bluebanquise/bluebanquise & strus_38/community)
- CentOS Linux release 8.4.2105

Issues:

-  Centos-extras seems C

[2021-07-17 19:39] btravouillon commented on #580
Yeah the folks from CentOS renamed the repo files in 8.4 to be compliant with Stream. I guess their target is to ensure smooth migration from 8.4 to Stream by the end of this year.

[2021-07-17 19:41] btravouillon commented on #580
This one is already reported in #534 btw.

[2021-07-20 13:57] dominiqueLe-Corre opened #583 "option filename in dhcp config"
Even though their ep_equipment_type is 'none', switches get a filename option in dhcp config.
To  fix it,
diff -Naur dhcpd.subnet.conf.j2.ORI dhcpd.subnet.conf.j2
--- dhcpd.subnet.conf.j2.ORI	2021-07-20 15:51:41.683975107 +0200
+++ dhcpd.subnet.conf.j2	2021-07-20 15:10:50.731395769 +0200
@@ -127,6 +127,8 @@
     {% endif %}
     {% if current_hostvars['ep_ipxe_platform'] == 'efi' %}{# Finally, bui

[2021-07-20 19:52] oxedions commented on #583
Dear @dominiqueLe-Corre

Thanks for reporting that. I also had other teams reporting the same issue.
I need to find a way to fix it without impacting performances.

[2021-09-06 13:56] gavillom opened #594 "No documentation related to nfs_client_directories_state variable"
Hi all,

Would be glad to have a mention of nfs_client_directories_state variable into nfs_client documentation.
It's a very nice feature which is not spotlighted ;-)

Can help in doing it.

Thanks

Mathis

[2021-09-08 18:47] oxedions commented on #594
Hello !

Thanks a lot for reporting this issue 🙂

Does this PR comply with your request ?
https://github.com/bluebanquise/bluebanquise/pull/595/files

[2021-09-09 06:40] gavillom commented on #594
Yes, it sounds good to me.

Thanks @oxedions

[2021-09-09 08:27] oxedions commented on #594
Thanks for the feedback 😊

[2021-09-09 08:27] #594 closed

[2021-09-13 09:00] gavillom opened #598 "Define nfs export_arguments per equipment group"
Hi everyone,

We're looking for a solution to define export_arguments per equipment group. Our use-case is we need no_root_squash option for some cluster administration purposes but we would prefer to clearly choose the type of nodes we allow it.

What do you think about implementing such feature into bluebanquise ?

Thanks

Mathis

[2021-09-16 07:03] oxedions commented on #598
Dear @gavillom

This is already implemented.

If I understand you well, you wish to specify different nfs parameters per equipment profiles ?

Solution is the following: `group_vars/equipment_X` has greater precedence over `group_vars/all`.

So you can define in `group_vars/all/general_settings/nfs.yml` some parameters, and define others in `group_vars/equipment_X/nfs.yml`. All hosts will use the

[2021-09-16 08:10] oxedions commented on #564
Solved by https://github.com/bluebanquise/bluebanquise/pull/584

[2021-09-16 08:10] #564 closed

[2021-09-16 11:24] gavillom commented on #598
@oxedions,

My functional need is to have a way to enable no_root_squash option that is part of export_arguments parameter only for few client node types (for example, I want to have root access on a mangement node to my NFS filesystems and not on compute nodes).
So from what I understand, export_arguments (that is used by **nfs_server** role) will take care of global _nfs_ settings and not per eq

[2021-09-17 18:49] oxedions commented on #598
Dear @gavillom

You are right, my apologies, I did not understood your need.

Please give me few days to compute that need. If you have a nice idea between on how to format inventory for that, please do not hesitate to propose 😊

Have a nice weekend !

[2021-09-20 07:10] gavillom commented on #598
No problem.

I've done a small POC on my side with the following inventory definition.

[code]

This lets the ability to support current nfs inventory definition and also can provide some export_arguments for some equipment_groups. I can propose a PR if this definition suits you.

Have a nice week

[2021-09-20 20:00] oxedions commented on #598
Dear @gavillom

Thanks a lot.
So to generate export file, you iterate over each hosts inside mg_management group and add their main ip on the same line ?

[2021-09-21 07:45] gavillom commented on #598
@oxedions,

Not on the same line. But each host on a dedicated line. But this can do a huge file, you're right.
From exports man :

Would it be possible to have something like nodeset format ? Would be interesting to make some tests on it.

Mathis

[2021-09-21 10:05] oxedions commented on #598
You could rely on Wildcards and DNS lookup:
https://www.golinuxcloud.com/nfs-exports-options-examples/

But this is not really nodeset compliant. Note that in the next BB (1.5) we provide a nodeset filter.

[2021-09-21 10:06] oxedions commented on #346
See https://github.com/bluebanquise/community/pull/14 which will solve this issue.

[2021-09-21 10:07] oxedions commented on #366
I will integrate point 3 into new Prometheus PR https://github.com/bluebanquise/community/pull/14

[2021-09-21 10:09] oxedions commented on #548
Was fixed with PR https://github.com/bluebanquise/bluebanquise/pull/596

[2021-09-21 10:09] #548 closed

[2021-09-22 13:42] gavillom commented on #598
Small test done today :

[code]
Works with single node definition but not with group of nodes definition. I think it won't be easy to define group of nodes into /etc/exports file.

[2021-09-23 09:00] oxedions commented on #598
Only solution I see is to add one line per host.
This can be done, but may be a bit ugly.
But you are right, in its current shape this role cannot do advanced configurations. We need to redesign it a bit.
I need to finish an urgent task, and I will focus on your need 😊

[2021-09-23 20:17] oxedions commented on #583
This issue is fixed in branch https://github.com/bluebanquise/bluebanquise/pull/582

[2021-09-24 14:07] oxedions opened #601 "dhcp_server does not allow changing ipxe rom version"
It is not possible with basic dhcp_server role the ipxe rom version.

[2021-09-24 14:35] oxedions opened #602 "[FEATURE REQUEST] Doc and tools - need more git related doc"
Need to document how to git the inventory + playbooks + custom, and link it to a gitea or something else.

[2021-09-24 14:51] #346 closed

[2021-09-24 14:51] #366 closed

[2021-10-05 15:32] neilmunday opened #608 "dns_server role enhancement: add ability to set IP addresses for external domains"
Scenario:

Cluster with no Internet access.
Many BMCs set to use public NTP servers - too many to change by hand/not possible.
= lots of DNS errors in the logs

Is it possible for the dns_role to have the ability to return an IP for a given host?

E.g. in the example return the cluster's chrony server IP for pool.ntp.org?

@oxedions asked me to tag @btravouillon ;-)

[2021-10-05 21:17] neilmunday commented on #608
See pull request #609 for a potential fix.

[2021-10-05 22:13] btravouillon commented on #608
Seems a bit hackish but works, thanks for sharing.
That being said, you should have a serious talk with your hardware manufacturer if they don't provide a simple way to update BMC configuration at scale.

[2021-10-05 23:35] neilmunday commented on #608
Agreed it is hackish and I've already raised the issue with the hardware manufacturer. You never know, the feature may be useful other scenarios in the future.

[2021-10-06 00:07] btravouillon commented on #608
No doubt this is a useful feature. Thanks Neil!

[2021-10-07 08:11] oxedions commented on #608
PR is merged, thanks a lot for this feature !

[2021-10-08 08:15] oxedions opened #610 "Idempotence not working for many CORE roles"
Some roles do not respect "idempotency" with huge inventories:

- hosts_file
- ssh_master
- dhcp_server
- dns_server
- etc.

Need to investigate deeper, may need a dictsort filter (and what is the impact on performances).

[2021-10-08 19:34] neilmunday opened #612 "Add openSUSE 15.3 support"
This issue has been created to keep track of which items need to be worked on to fully support openSUSE 15.3 (the current release).

**roles/core**

- ~~access_control~~
- [x] bluebanquise
- [x] clustershell
- [x] conman
- [x] dhcp_server
- ~~diskless~~
- [x] dns_client
- [x] dns_server
- [x] filesystem
- [x] firewall
- [x] hosts_file
- [x] kernel_config
- [x] log_client
- [x] log_server
- [x] lvm

[2021-10-13 09:27] oxedions opened #613 "Dummy host is not ignored by all roles."
Some roles (clustershell, might be others) do not ignore the dummy host.

[2021-10-13 19:43] neilmunday commented on #612
Created new branch for OpenSuSE work: https://github.com/bluebanquise/bluebanquise/tree/1.6/opensuse

[2021-10-13 19:43] neilmunday commented on #612
`nic_nmcli` role done.

[2021-10-14 20:21] neilmunday commented on #612
Fixed bug in `mount` role regarding the `src` option. It was referencing `{{ item.force }}` instead of `{{ item.src }}`.

[2021-10-15 19:54] neilmunday commented on #612
`dhcp_server` role done.

[2021-10-16 09:27] neilmunday opened #614 "dns_server role reverse look-ups do not work"
Example:

IP subnet: 10.10.0.0/16

Generated named.conf:

[code]

Generared reverse file:

[code]

`resolv.conf`:

[code]

nslookup test:

[code]

Reverse test:

[code]

I can get reverse look-ups to work if I change the named.conf and reverse files to look like so:

named.conf:

[code]

Reverse file:

[code]

[2021-10-21 20:31] neilmunday opened #616 "nic_nmcli docs say that appending the netmask to IPv4 address is ok but breaks other roles"
In the readme for the `nic_nmcli` readme it states:

[code]

If you define ip4 addresses with the subnet mask as above it breaks other roles, e.g. `hosts_file`, `dns_server` etc. as they can't handle the mask.

[2021-10-22 19:23] #601 closed, assigned to nobody

[2021-10-26 12:33] neilmunday opened #622 "pxe_stack role creates incorrectly named osdeploy file for Rocky Linux"
Example equipment profile definition:

[code]

When running the `pxe_stack` role this creates the following osdeploy files:

[code]

As a result when a node is deployed it cannot find "rockylinux_8.ipxe".

[2021-10-28 19:06] #622 closed, assigned to neilmunday

[2021-10-28 21:16] oxedions opened #625 "Rename ssh_slave master"
ssh_client and ssh_remote_keys

Take this opportunity to allow server keys to be pushed on diskless systems

[2021-10-29 12:46] #613 closed, assigned to nobody

[2021-10-29 12:47] #616 closed, assigned to nobody

[2021-10-30 15:37] neilmunday commented on #612
`access control` role not required for OpenSuSE as SELinux support is not quite there yet.

[2021-11-02 13:26] SckyzO opened #626 "Update External Binaries"
Hello Team.

Do you think it is possible to update your externals binaries RPM ?

| Program | Current Version | New Version |
|---|---|---|
| Prometheus | 2.19.2 | 2.30.3
| Alertmanager | 0.21.0 | 0.23.0 |
| Grafana | 6.7.4 | 8.0.3 |
| Karma | 0.68 | 0.92
| IPMI Exporter | 1.3.0 | 1.4.0
| Node Exporter | 1.0.1 | 1.2.2
| SNMP Exporter | 0.18.0 | 0.20.0 |

Regards,

[2021-11-02 14:31] johnnykeats commented on #626
Hello @SckyzO

Could you have a look here and tell us it matches your needs?

http://bluebanquise.com/repository/releases/1.5-dev/el8/x86_64/bluebanquise/packages/x86_64/

Beware, this is development repository, still haven't tested all the packages and not all are present.
Also, packages are for the new Prometheus role from @oxedions (https://github.com/bluebanquise/community/tree/main/roles/prom

[2021-11-02 16:51] SckyzO commented on #626
Perfect. I think I have all packages to testing :)

For the new role, I 've seen there are many changes. I can't upgrade my production currently, but I 'm very interested by your pipeline to improve packages releases cycle :)
And, I think the best way for this stack is to use podman (only with centos/rh), and docker. But is not easy to use podman with node_exporter because podman is rootless.

Tha

[2021-11-02 16:51] #626 closed

[2021-11-02 19:11] oxedions commented on #626
Dear @SckyzO

Just a small note: these packages do not have services files anymore, as the new role generates them (I found that most of Prometheus eco-system tools parameters are passed as command line -> should be used indeed from a container). So to use them with the old role, you may wish to backup your current service files, and then only upgrade packages (and restore your services files if n

[2021-11-02 20:28] neilmunday commented on #612
Pull request #627 created.

[2021-11-02 22:16] SckyzO commented on #626
ok I take note. I keep you informed of the update
I use bluebanquise since one years so I used an old version ... 😁
But it's in production on customer site so I can't upgrade like this ☺️
And I already rewrite monitoring roles. Just I use bluebanquise for rpms.

For information I use netapp eseries exporter, process exporter to help me to monitor architecture.

Thank you for your help

Regards

[2021-11-03 09:04] johnnykeats commented on #614
Closing, solved by #621

[2021-11-03 09:04] #614 closed

[2021-11-04 19:45] oxedions commented on #626
Welcome, and thanks for keeping us informed, it is always cool to have feedback 😊

[2021-11-08 10:27] oxedions commented on #610
Solved by #628

[2021-11-08 10:27] #610 closed

[2021-11-10 08:49] oxedions opened #636 "[BUG] Missing role_version vars in multiple CORE roles"
Some CORE roles do not have role_version vars set. My mistake, need to be fixed.

## Context

Current master.

## Process

NA

## Expected result

Each role should have its own role_version variable.

## Current result

Missing var.

## Possible Fix

Add var.

## Additional data

[2021-11-10 13:07] johnnykeats commented on #602
Can cover that.
Please tell me once doc PR is draft ready.

[2021-11-12 13:48] #625 closed

[2021-11-12 19:45] #534 closed

[2021-11-15 09:57] johnnykeats commented on #580
@strus38
Could you provide more context about Chrony and Selinux? Not able to reproduce in VMs.

[2021-11-22 04:26] ginomcevoy opened #639 "Extend supported data model to include BMC/switches and their authentication details"
Hello,

This is a request to extend the "inventory data model reference" (I add this link so others know what this is, https://github.com/bluebanquise/bluebanquise/blob/master/resources/data_model.md ). The extension is meant to support other equipment items different from management, login or compute nodes, for example BMCs and switches. The main elements to configure are the network and the auth

[2021-11-23 13:27] johnnykeats commented on #639
An interesting improvement.

Datamodel cannot be broken before releasing the 2.0.0, however nothing prevents working on the next iteration, adding new entries if we keep compatiblity.

Regarding features proposed:

1. Make sense. @oxedions is the one with high Jinja2 knowledge, waiting for his feedback on the "magic", but request makes sense and only really affected roles AFAIK are indeed conman a

[2021-11-23 18:50] oxedions commented on #639
Hello ! 😊

I need to investigate deeper the possibility to use jinja code for that, but we may need to just code the 2 possibilities directly into the templates. Difficulty is : you cannot access hostvars from other hosts when using an j2 variable. Ansible does not handle this (hostvars are just not rendered).

So ok to me, just need to think a bit about that.

@ginomcevoy Could you tell us when e

[2021-11-25 14:32] ginomcevoy commented on #639
Hello @johnnykeats and @oxedions thanks for your answers.

The idea of the proposal is to try to add functionality without breaking the existing data model. So we would add BMCs and the  ep_host_authentication variable, but the original behavior of BMCs inside nodes and ep_equipment_authentication should still work just like before. Hopefully this means that it can be added soon without waiting fo

[2021-11-26 08:53] johnnykeats commented on #639
Thanks for help proposal!
Ok for including these changes in 1.5.
Will check what I can do asap.

[2021-11-28 14:19] johnnykeats commented on #639
@ginomcevoy
Please check if https://github.com/bluebanquise/bluebanquise/pull/640/files match your needs (conman only for now).

[2021-12-01 15:38] #636 closed

[2021-12-01 15:39] #567 closed

[2021-12-01 18:24] ginomcevoy commented on #580
Hello @johnnykeats , @strus38 ,
We have seen this issue before in our virtual environment to test BlueBanquise, I would say this issue is "vagrant only".
As a workaround we run "restorecon -Rv /etc" as part of the provisioning step. Here is an output example of vagrant up:

[code]

The role runs well after this, and I have not reproduced outside of vagrant.

[2021-12-01 19:29] oxedions opened #641 "[BUG] dhcp_server does not allow global ipxe rom change"
dhcp_server role does not allow to change ipxe driver.

## Context

Impact dhcp_server role only.

## Expected result

Be able to load snponly rom instead of default one.

## Current result

Standard only is available.

## Possible Fix

Add an optional role variable to handle this feature.

[2021-12-03 07:58] #557 closed

[2021-12-03 07:58] oxedions commented on #557
Fixed in PR #648 😊

[2021-12-03 07:58] oxedions commented on #537
Fixed in PR #638

[2021-12-03 07:58] #537 closed

[2021-12-03 07:59] oxedions commented on #418
I added a note in readme to specify not to activate this feature in RHEL 7 🙂

[2021-12-03 07:59] #418 closed

[2021-12-03 08:02] oxedions commented on #580
Dear @ginomcevoy
Thanks a lot for providing the solution 😊
We can then close this issue, as it is not directly related to the stack.

[2021-12-03 08:02] #580 closed

[2021-12-07 19:47] oxedions opened #644 "[BUG] pxe_stack role should use bootset package"
pxe_stack role must use bootset package instead of file.

[2021-12-07 19:51] oxedions opened #645 "[BUG] bluebanquise role should install bluebanquise_filters"
bluebanquise role should install bluebanquise_filters package
Need also clustershell

[2021-12-09 19:21] oxedions opened #647 "[BUG] Missing Ubuntu devs"
Missing Ubuntu features:

* missing ubuntu support in main readme
* missing 18.04 support in infrastructure
* missing features in PXE auto files

[2021-12-14 20:32] #645 closed

[2021-12-14 20:33] #644 closed

[2021-12-17 02:44] ginomcevoy opened #655 "[BUG] ssh_client role fails if network_interfaces is an empty list"
## Context
When creating ansible inventory dynamically, it may happen that a host is defined with an empty list for network_interfaces. If this happens, the ssh_client role fails when executed on a management node of the same iceberg as the problematic host.

Since there is no explicit mention in the Bluebanquise data module about the impossibility of having an empty network_interfaces list, I hav

[2021-12-27 14:56] johnnykeats commented on #655
Already encountered that one, but due to faulty inventory.

After reading your proposal: `host_vars['network_interfaces'] is defined and host_vars['network_interfaces']` is similar in logic. Maybe more text, but simpler to read.

If there is a need to cover all possibilities (aka users injecting dicts), the following line should secure all possibilities: `host_vars['network_interfaces'] is defined

[2021-12-27 20:57] johnnykeats commented on #655
Please re-open issue if not closed by the patch merged.

[2021-12-27 20:57] #655 closed

[2021-12-27 20:57] #647 closed

[2021-12-28 09:08] #639 closed

[2022-01-03 19:22] oxedions commented on #384
Doc has been updated.

[2022-01-03 19:22] #384 closed

[2022-01-12 08:27] strus38 opened #663 "[BUG] - dns_server - dnssec-enable should be a variable to disable it if needed"
DNS should be configurable to enable or disable dnssec-enable. A lot of setup don't need this feature.

This is done in:
- https://github.com/bluebanquise/bluebanquise/blob/master/roles/core/dns_server/templates/named.conf.j2
[code]

Proposal is to simply add a variable in:

- https://github.com/bluebanquise/bluebanquise/blob/master/roles/core/dns_server/vars/main.yml
[code]

[2022-01-14 08:58] oxedions opened #664 "[FEATURE REQUEST] systemd-networkd support"
Request originally sent by wallun AT disroot DOT org

At the moment, network interfaces are managed with NetworkManager, as it is
available on every distribution BlueBanquise supports.
Though an ansible module exists for NetworkManager (community.general.nmcli), it
isn't as simple as dropping-in a file in a directory.
Reviewing how the interfaces are configured tends to be tricky.

## Context

As

[2022-01-14 18:09] ginomcevoy commented on #655
Hello @johnnykeats , sorry for the delay.
The fix is working for me in a controlled environment, the problematic inventory is not causing the error anymore. Thank you!

I will test this on a more "real-like" scenario with a bigger inventory next week. If you don't hear from me it probably means the issue is gone :)

[2022-01-24 09:28] oxedions opened #667 "[FEATURE REQUEST] Auto efi detection in autoinstalls"
Auto detect EFI in autoinstalls to avoid using `ep_ipxe_platform`

## Context

Autoinstall files need `ep_ipxe_platform`, while a simple

[code]

Would be more automatic.

## Feature

Use basic scripting to check EFI.

[2022-01-27 09:52] strus38 opened #668 "[FEATURE REQUEST] - Provide authenticated NTP support"
Current role does not support NTP authantication which is really a security issue.
In order to secure NTP with Chrony for exemple is described here: https://access.redhat.com/solutions/4386221

[code]

The objective is to update the role to add this option.

[2022-01-28 09:53] oxedions opened #670 "[BUG] repositories cannot be named "os.*""
Repositories cannot be named for example os_updates or os_fix or whatever.
Any repositories starting with regex "os.*" will prevent magic os repository to spawn.

## Context

![image](https://user-images.githubusercontent.com/15154435/151525700-7cc93ff7-df50-4ec9-8830-0f03184b4347.png)

## Process

Simply create any repo named os_XXXX along with os repo.

## Expected result

Both repo created

##

[2022-01-31 18:30] ginomcevoy opened #671 "[BUG] diskless - Unhelpful error message in "Create an image from a parameters file" if there are no kernels"
This is a minor bug in disklessset tool, it does not impede functionality and is only about improving an error message.

## Context

I found this issue when I wanted to test the new "Create an image from a parameters file" functionality of the disklesset tool. I was starting from a "clean" system with no images and kernels present, so the tool was not ready because there are no kernels defined.

S

[2022-02-03 07:19] strus38 opened #672 "[FEATURE REQUEST] add virtual ips to the cluster dns"
Hi

Is there a way to add virtual ips to the cluster dns ?

Those ips in ./inventory/group_vars/all/general_settings/network.yml doesn’t seems to have any dns name resolution with the ha implementation  (something like nfs-vip or other names)  aka README on ha role
?

      dhcp_ip: 10.10.0.50
      pxe_ip: 10.10.0.51
      ntp_ip: 10.10.0.52
      nfs_ip: 10.10.0.53
      dns_ip: 10.10.0.54

[2022-02-03 23:49] neilmunday commented on #672
I think this could be done but would would require adding something to map the IPs to DNS entries. E.g. "time-srv._domain_", "dhcp-srv._domain_" etc. The dns_server and advanced_dns_server roles would need modifying.

[2022-02-05 22:22] sla31 opened #673 "make the role 'clustershell' idempotent?"
Hi!

Wouldn't the following change help the role 'roles/core/clustershell' reach idempotence?
[code]

Thanks!

[2022-02-14 15:27] oxedions commented on #673
Dear @sla31

My apologies for being so late. After 1.5 release, I took few days off 😊
Yes, I agree. I already solved few idempotency on other roles recently, same issue.
Would you accept opening a PR with this path ?

[2022-02-14 15:29] oxedions commented on #672
Hello,

Yes, this is something we need to work on. I will do that just after @neilmunday  PR is merged 🙂

[2022-02-18 14:53] #673 closed

[2022-02-18 14:54] oxedions opened #677 "[BUG] Ubuntu and DGXOS bugs"
- nmcli need managed=true
- tftp-hpa handler missing to apply conf change
- DGXOS curtin need enchancement
  - loop for dhcp on eth
  - efibootmgr optional or force
  - /bin/echo instead of echo

[2022-03-02 17:11] ginomcevoy opened #682 "[BUG] dns_server: reverse resolution not working for /22 network prefix"
This is relevant to the dns_server core role, currently it does not configure certain networks correctly and reverse resolution fails.

## Context

When defining a network with the /22 prefix (255.255.252.0 netmask), there can be nodes that are outside the "C-class range" of the network. For example, the 192.168.100.0/22 network can go up to 192.168.103.255, so it is possible to have a node with t

[2022-03-02 21:38] neilmunday commented on #682
Bug confirmed.

[2022-03-03 23:34] neilmunday commented on #682
Please see my suggest changes in pull request #683.

Test ouput:

[code]

[2022-03-11 16:28] ginomcevoy commented on #682
Hello @neilmunday ,

Sorry for the delay. I have just tested this somewhat extensively for the /22 and /16 networks, and everything works.

There are now multiple reverse zones created, e..g. 192.168.100.rr.zone, 192.168.101.rr.zone, 192.168.102.rr.zone, 192.168.103.rr.zone, as needed (only if there are hosts in these ranges).

This looks OK to me, thanks!

[2022-03-11 17:56] neilmunday commented on #682
@ginomcevoy glad to hear it works for you :-)

[2022-03-25 16:43] oxedions opened #684 "Enable sudoers for admin"

[2022-03-30 08:33] strus38 opened #686 "[BUG] - pxe_stack role error when generating templates for PXe boot if equipment are empty."
When the inventory contains such list of hosts:
[code]
The pxe_stack crashes while looking at the `when:` statement in the file: `https://github.com/bluebanquise/bluebanquise/blob/master/roles/core/pxe_stack/tasks/client_os/RedHat.yml`

[code]

The idea would be to better handle the `when:` statements to catch those kind of inventories.
Also, taking into account the fact that ep_equipment_type cou

[2022-04-05 18:54] oxedions opened #688 "[BUG] xmllint support on all distribs"
pxe_stack role would make great benefit of xmllint validation for autoyast files.
Echk if exist and install it as requirement, and possibly provides a copy of /usr/share/YaST2/schema/autoyast/rng/profile.rng from SLES/OpenSUSE.

[2022-04-05 18:55] oxedions commented on #684
Linked to https://github.com/bluebanquise/bluebanquise/pull/687

[2022-04-05 18:56] oxedions commented on #686
Dear @strus38

Yes, you are right, this should be supported. I will check code.

[2022-04-08 08:09] oxedions commented on #672
Hello

What @neilmunday proposes is correct, and I would like to go this way. It however deeply change the inventory data model.
We need to delay this feature until 2.0.

I am adding tagging this PR to 2.0

[2022-04-15 20:07] neilmunday opened #696 "[BUG] advanced_dhcp_server role fails on OpenSUSE"
The `advanced_dhcp_server` role is missing SUSE vars files.

## Context

Example output:

[code]

## Process

Run the `advanced_dhcp_server` role on a SLES based OS (e.g. OpenSUSE 15.3)

## Expected result

The role executes without error.

## Current result

See output above.

## Possible Fix

Will create a pull request with a fix shortly.

[2022-04-22 07:36] oxedions commented on #696
Closing since PR was merged. Thanks for the devs 😊

[2022-04-22 07:36] #696 closed

[2022-04-22 07:37] oxedions commented on #684
Done, closing.

[2022-04-22 07:37] #684 closed

[2022-04-22 07:37] oxedions commented on #677
Should now be ok. Closing.

[2022-04-22 07:37] #677 closed

[2022-04-22 10:57] oxedions commented on #598
Hello @gavillom

Do you have any updates ? Is the need still valid ?

Ox

[2022-04-22 10:57] oxedions commented on #641
Done.

[2022-04-22 10:57] #641 closed

[2022-04-22 10:58] oxedions commented on #663
Feature was implemented. Closing issue. 🙂

[2022-04-22 11:00] oxedions commented on #671
Dear @ginomcevoy

Sorry for the delay. I will have a look. 🙂

[2022-04-22 11:02] oxedions commented on #682
I am closing issue now, since it was solved 😊

[2022-04-22 11:02] #682 closed

[2022-04-22 11:03] oxedions commented on #667
Was done for Ubuntu user-data.

Need to backport to Kickstart and Autoyast

[2022-04-22 19:55] oxedions commented on #671
PR https://github.com/bluebanquise/tools/pull/20/files

[2022-04-22 19:55] oxedions commented on #671
@ginomcevoy Is the proposed PR ok for you ?

[2022-04-22 22:48] neilmunday commented on #612
Closing as PR was merged.

[2022-04-22 22:48] #612 closed

[2022-04-25 09:07] strus38 opened #704 "[BUG] dns_server - missing recursion: yes - in the /etc/named.conf template"
Hi

The defaut /etc/named.conf  does not contains recusion.

## Context

BB 1.5

## Process

Generate the dns_client role, it will create the /etc/named.conf  file, but does not consider recusion.

## Expected result

recursion: yes should appear - as an option or by default ... not sure!

[2022-05-06 14:48] ginomcevoy commented on #671
Hello @oxedions , looks good to me thanks!

[2022-05-06 16:23] oxedions opened #705 "[FEATURE REQUEST] Allow roles to be used outside the stack"
Each role should have all possible variables set in default, and allows precedence mechanism with global one when relevant.

Example:

`domain_name` variable is global, and can be used in `set_hostname` role.

`set_hostname` role should have in defaults:

[code]

So that if domain_name is set and `set_hostname_domain_name` is not, domain_name will be used, but if `set_hostname_domain_name` has bee

[2022-05-06 16:38] #671 closed

[2022-05-06 16:39] #664 closed

[2022-05-06 16:39] #663 closed

[2022-05-06 16:40] #598 closed

[2022-05-06 16:40] oxedions commented on #375
I am sorting issues. Is it still relevant ?

[2022-05-06 16:41] oxedions commented on #267
Bootstrap script is at last implemented 😊

[2022-05-06 16:41] #267 closed

[2022-05-06 17:22] strus38 commented on #375
Yes I guess

[2022-05-09 12:20] oxedions opened #707 "[BUG] dhcp_server should install python3-netaddr"
From SW

As dhcp_server role requires python package netaddr, it should ensure the package is installed.

On Rocky 8.5 and Ubuntu 20.04, the package is named `python3-netaddr`.

The pip package is named `netaddr`

[2022-05-09 12:33] oxedions commented on #375
Ok thanks 😊

[2022-05-10 08:22] oxedions opened #709 "[DEV] Rework Inventory"
- [ ] Merge all inventory global settings into a single commented file with prefixed bb_ variables
- [ ] #705 , BlueBanquise should be usable as a stack or a collection
- [ ] Nodes should be defined without mg and equipment group in yaml files, and then added into mg and equipment groups in separate Ansible syntax files. This will allow nodes of different purposes but with same equipment profiles

[2022-05-10 20:10] ginomcevoy commented on #709
Some ideas I have collected while using and supporting BB:

- networks.yml: extract the services from this file into another file services.yml. Then refer to the services of a network like this: "{{ services.<iceberg>.<network> }}" or maybe just "{{ services.<network>}}". Users may change services.yml with a higher frequency than they would change networks.yml.
- Have a way to add FQDN entries to

[2022-05-11 13:01] oxedions commented on #709
Dear @ginomcevoy
Thanks for the proposals 😊

[2022-05-12 12:28] oxedions commented on #709
- [ ] Possibility to create nodeset range of nodes in yaml
[code]

[2022-05-13 13:59] wlln commented on #709
## Role variables

IMHO, roles should not use variables they don't know anything about.

For instance, let's say `dhcp_server` requires a `dhcp_server_time_servers` variable.
The role is to be applied to a group named `foobar`.
In `inventory/group_vars/foobar/dhcp_server/main.yaml`, `dhcp_server_time_servers` is set:
[code]
The *problem* is that every role would require `role_prefix_variable_name`

[2022-05-13 14:33] wlln commented on #709
## Role behaviour

All variables must have default values set in `defaults/main.yaml`.

When no `role_prefix_*` and/or no `bb_*` is set, including a role into a playbook should not make that playbook crash because of undefined variables. Instead, it should:
  * warn about theses variables and skip:
[code]
  * use a fallback variable that will **always** exist:
[code]

## Misc

  * [Pre-commit](htt

[2022-05-13 18:51] #686 closed

[2022-05-13 18:51] #704 closed

[2022-05-13 19:54] oxedions commented on #709
Dear @wlln
Thanks a lot for your ideas ! 😊

[2022-05-16 08:33] wlln opened #714 "[BUG] Prevent apt from starting and services on Debian like OSes"
## Context

BlueBanquise manages services with the `ansible.builtin.service`.
Services could be stopped by default by setting `start_services: false` in `inventory/` or by using the `-e start_services=false`.

But Ubuntu starts and enable services thanks to [invoke-rc.d/policy-rc.d](https://people.debian.org/~hmh/invokerc.d-policyrc.d-specification.txt).

As a consequence, when adding any role wit

[2022-05-20 15:13] wlln opened #715 "[BUG] ssh_remote_keys only add keys to root account"
BlueBanquise allows being run as a privileged user.
Some roles now uses the `ansible_env.SUDO_USER` variable to check which user should be impacted with the role.

ssh_remote_keys isn't (yet).

## Possible Fix

in `tasks/main.yml`, replace `user: root` with:
[code]

[2022-05-20 16:07] oxedions commented on #715
Dear @wlln
Thanks a lot for this issue.
Yes, you are right. I will fix that.

[2022-05-21 22:52] wlln commented on #709
# Bootstraping BB

Until BB 1.5, after a fresh install, BB required a manual configuration part, to set up a few things before running playbooks/roles.

The `bootstrap.sh` script simplify the process and that's awesome !

But I feel like bootstraping BB would become way more convinient if it could be bootstraped from a fresh install just by installing a RPM, a DEB (or even from a [PKGBUILD](https:

[2022-05-31 10:01] sla31 opened #720 "force installation on a specific interface name"
Hi!

Installing a server with 2 network interfaces teamed in an LACP bond.  Installing the server through only one of both interfaces is fine; the bond is useful only after OS installation.  The inventory defines 2 network interfaces + the bond interface as follows:
[code]

As the "initrd" fails to bring the proper network up to download the netboot ISO, I need to force the network config on the k

[2022-05-31 10:12] sla31 opened #721 "make the gateway optional when forcing static network config on the kernel command line with bootset"
Hi!

Partly related to enhancement request #720.

I need to force the network config statically on the kernel command line with the following command:
[code]
But the network used for OS installation has no gateway:

- the OS gets installed through an interface on a closed network (internal to the cluster)
- the server will be connected to a DMZ through another network interface (that's where the d

[2022-05-31 12:29] oxedions commented on #720
Dear @sla31

Thanks a lot for reporting this issue. 😊
It makes sens, let me add it to backlog for devs.

[2022-05-31 12:31] oxedions commented on #721
Dear @sla31

Yes, I understand, it also make sens.
I will fix that at the same time than the other issue reported 🙂

[2022-06-03 16:11] #720 closed

[2022-06-03 16:11] #721 closed

[2022-06-04 13:25] sla31 opened #724 "[BUG] dns_server role: overlapping reverse zone files for small subnets"
Hi,

When 2 networks are defined in the inventory with a small prefix (like /30 for instance), the `dns_server` role uses the same file name for both `named` reverse zone files.

Here's an inventory excerpt:
[code]

So we have 3 small subnets (/30 → netmask=255.255.255.252) which want to be in the DNS.

Here's what the execution of the `dns_server` gives:
[code]

The same reverse zone file `172.26

[2022-06-05 20:41] neilmunday commented on #724
Thanks for raising this issue. It presents an interesting challenge. Whilst the complete base IP address can be used to name the reverse zone file, the contents of this file also needs considering.

For example, each reverse zone file will include this block:

[code]
Equally, `/etc/named.conf` will also contain multiple zone blocks for `0.26.172`.

I'm not sure how to handle this bug at the moment

[2022-06-06 15:20] sla31 commented on #724
Hi!

You're right!  [RFC2317](https://datatracker.ietf.org/doc/html/rfc2317) seems to give a (somehow cumbersome...) solution to that problem...  I did not test it with `bind` though.

I would not say this is a high priority issue. As far as I'm concerned, I set `is_in_dns=false` for my small 3 \30 subnets, and defined the DNS resolutions in `external_hosts`.

Thanks!

[2022-06-06 23:28] neilmunday commented on #724
Thanks for the info about RFC2317. I've tried it out under OpenSUSE 15, bind 9.16.6 and I can't get it to work.

If anyone would like to investigate this further, see https://github.com/neilmunday/bluebanquise/tree/issue724.

Example for 192.168.103.0/30 subnet:

named.conf:

[code]

Generated zone file:

[code]

`named` states that it has loaded the zone ok but IP look ups fail.

[2022-06-07 20:17] neilmunday commented on #724
Apologies for missing the delegated bit of the RFC.

It was actually easier to do option 2. At the moment the role places host records into xxx.yyy.zzz reverse zone files and as you correctly found, these get overwritten by subsequent networks when using more than one say /30 (and others > 24).

Rather than loop over the networks in the inventory if we loop over the first three octets of all defin

[2022-06-08 23:03] neilmunday commented on #724
Thanks for the quick feedback :-)

I've just updated by branch with commit: https://github.com/neilmunday/bluebanquise/commit/1f45da6e09e7cde03b15cefb9284da4d98926097 to add back the `network.is_in_dns` check to the `reverse.j2` template.

The `j2_dns_server_get_first_octets` variable already had `network.is_in_dns` checks in place so only networks that have been set to `is_in_dns=true` should be

[2022-06-09 10:22] sla31 commented on #724
Hi!

Thanks for the fix!
I found it useful to add the check `is_in_dns is defined` before evaluating `is_in_dns` as a boolean.
The reverse SOA files are generated when I apply the hack you mention.
For the networks with `is_in_dns=false`, I can see that:
- the reverse zone files are generated (admittedly empty)
- the forward zone file contains the names which should not appear here

I'm wondering

[2022-06-09 20:44] neilmunday commented on #724
Hi,

Thanks for the suggestion - I have tweaked my branch to include more `is_in_dns` checks which has resolved the forward zone file issue.

In my tests with this branch no empty zone files are created for networks that are not in DNS.

[2022-06-10 12:28] strus38 opened #727 "[FEATURE REQUEST] sos_report script to understand issues"
[Provide general introduction to the feature request, and why it is relevant to this repository]

## Context

sos-report are used for many software to get a dump of a config used by a customer and provide the necessay information for the support to understand what could be the issue.

## Feature

The feature is about creating such script which could be used to better understand issues happening in

[2022-06-11 10:06] neilmunday commented on #727
I think the name of the script should avoid clashing with RHEL's `sosreport` tool. Perhaps `bb-sos`?

[2022-06-13 08:40] strus38 commented on #727
Well, the name of the script, I don't mind :-) ...

[2022-06-14 19:49] neilmunday commented on #724
@sla31 were you able to try out my latest commits? If you're happy with them then I could create a pull request for wider review.

[2022-06-15 18:14] neilmunday commented on #724
PR #728 created.

[2022-07-05 22:14] santos-lucas opened #730 "[BUG] bootstrap.sh offline installation."
[Provide general introduction to the issue logging and why it is relevant to this repository.]

On the offline installation, the requirements.txt when offline download seems to not be downloading all the requirements dependencies, what creates some erros on the bootstrap script installation on offline_mode.

╔══════════════════════════════════════════════╗
 ║ Installing python needed dependencies

[2022-07-06 20:12] santos-lucas opened #731 "[BUG] Powerman asks for dependency that are not included on the bluebanquise repo"
[Provide general introduction to the issue logging and why it is relevant to this repository.]

Adding the powerman role to the management playbook I get the following :

TASK [powerman : package █ Install freeipmi and powerman] ************************************************************************************************************************************************************
Wednesday 06 J

[2022-07-07 06:47] oxedions commented on #730
Dear @santos-lucas

Interesting, thanks a lot for catching this. I will setup a VM and investigate 🙂

[2022-07-12 22:17] santos-lucas opened #735 "[BUG] bootstrap on bluebanquise release poiting to latest repo"
The bootstrap.sh script on release 1.6 is using the latest version of the bluebanquise repositories and some packages like disklessset are outdated there.

we probably should fix the repo version on the release.

[2022-08-01 22:48] santos-lucas opened #739 "[BUG] Nic Role does not Update interface type chages"
I have This configuration on my node:
[code]
So I changed the inventory configuration for:
[code]

And after running the NIC role nothing is changed, only if I remove the file and run an `nmcli con reload`, because in this case the previous config will really not exist

[2022-08-10 13:29] michaelhoehl opened #740 "nfs-server role missing firewall service"
The nfs-server has only the following 2 services in the vars/RedHat.yml file
nfs_server_firewall_services_to_add:
  - nfs
  - rpc-bind

In the RHEL documentation we need additional to nfs and rpc-bind the "mountd" service added to the firewall ( https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/deploying_different_types_of_servers/exporting-nfs-shares_deploying-differen

[2022-08-10 14:59] michaelhoehl opened #741 "[BUG] role clustershell group "all" broken"
The role "clustershell" creates the local.cfg file where the group "all" starts with an ",". This is an issue for clush and nodeset:

`nodeset -f @all
nodeset: Parse error: missing nodeset operand with ','`

I guess this problem came with removing the dummy equipment:

`{{gr}}: {% for node in gr_vars | sort %}{% if node != 'dummy' %}{% if loop.first %}{{node}}{% else %},{{node}}{% endif %}{% endif

[2022-08-18 09:23] johnnykeats commented on #741
what about? https://github.com/bluebanquise/bluebanquise/pull/742
can you confirm it works?

[2022-08-18 09:25] johnnykeats commented on #740
Please check https://github.com/bluebanquise/bluebanquise/pull/743 and confirm ok for you

[2022-08-18 09:26] johnnykeats commented on #739
Seems nmcli module issue. @oxedions?

[2022-08-29 04:50] btravouillon commented on #727
That should be a [plugin for sos report](https://github.com/sosreport/sos/wiki/How-to-Write-a-Plugin) IMHO.

[2022-09-07 08:32] michaelhoehl commented on #740
Yes looks good for me.
Thanks

[2022-09-07 09:09] michaelhoehl commented on #741
no this one doesn't work. The template gets the following error:
[code]

[2022-09-29 00:38] oxedions commented on #727
Hello.

Yes, using sosreport is the way to go.

However, implementing a plugin for BB data is a huge dev, that I cannot afford right now... 😞
In the meantime, you can easily grab BB data by creating a tar of bluebanquise folder. I know it will not be anonymized, but user can use sed commands to empty/NA needed yaml keys in all files.

[2022-09-29 00:39] oxedions commented on #735
Dear @santos-lucas

Thanks for reporting that !

Yes, repositories need to be updated. I am in the process of automating all of that, I hope it will be done soon.
I will update latest as soon as possible 😊

[2022-09-29 00:42] oxedions commented on #739
Apologies for the delay of my answer.

Yes, it this issue is external to BB. We need to open an issue in general collection of Ansible.

[2022-09-29 00:43] oxedions commented on #740
Thanks ! Merged.

[2022-09-29 00:43] #740 closed

[2022-09-29 00:43] oxedions commented on #741
I will have a look.

[2022-10-04 10:58] michaelhoehl commented on #741
I used the original role on another site and didn't had any issues with the "all" group anymore. I don't know why I had this kind of bug on my other installation. Maybe there was something wrong with my inventory during this time.
So if you cannot reproduce this issue, we can close this bug

[2022-10-27 03:27] santos-lucas opened #752 "[BUG] nic role: nic_force_nic_restart=true not working okay"
nic_force_nic_restart=true seems to not be working okay with bonding configuration, access is being lost.

As can be seen in the following:
[code]

That is the node configuration:
[code]

[2022-10-31 18:32] oxedions commented on #752
Hello @santos-lucas
You have a point, I didn't thought about bonds 😐
Only solution I see here is to use nic_force_reboot but this is a dangerous option in production... You can set it via --extra-vars temporary when applying playbook maybe, when you expect changes and know that a reboot is ok.

[2022-11-23 13:23] dietergorecki opened #754 "[FEATURE REQUEST] Logrotate configuration for conman"
No logrotate configuration is provided for conman.

## Feature

A file dedicated to conman log rotation in /etc/logrotate.d/ would do the trick.

## Additional data

Example configuration file:

[code]

[2022-11-26 05:12] lmagdanello opened #755 "[FEATURE REQUEST] conman rpm missing el8"
conman rpm no longer exists in the bluebanquise repos for el8.

## Context

The lack of rpm breaks conman's core role.

## Feature

Maybe we should add the rpm?

## Additional data

[conman](https://github.com/dun/conman/releases/tag/conman-0.3.1)

[2022-11-26 05:14] lmagdanello commented on #755
Maybe the role can compile the conman straight from Git? Maybe it would help to work independently of the distro installed by the admin.

[2022-11-28 16:38] strus38 opened #756 "[FEATURE REQUEST] Add optionnal 'alias' to every interface."
[Provide general introduction to the feature request, and why it is relevant to this repository]

- Add optionnal 'alias' to every interface.
This would apply updating the dns_server and hosts roles.

## Context

It is sometime useful to be able to set an alias per interface instead on only 1 globally. This is the cas for exemple for EMC where 2 interfaces are present on 2 different networks, and